@import "compass";
@import "../../bower/bourbon//app/assets/stylesheets/bourbon";

/* --------- normalize --------- */

@import "_misc/_normalize";

/* --------- fonts --------- */
@import '../fonts/stylesheet.css';
// @import "_misc/_fonts";
/* --------- mixins --------- */
@import "_misc/_mixins";

/* --------- adjustment --------- */

@import "_misc/_adjustment";

/* ---------misc icons sprite --------- */
$misc-sprite: sprite-map('icons/_misc/*.png', $spacing: 70px);





/* ---------colors --------- */
$main-color: #ffffff;
$accent-color: #da251c;
$text-color: #333333;
$title-color-blue: #092e4a;
$title-color-black: #323232;

/* ---------services--------- */
$grey: #f8f8f8;

$button-bg: #ffe000;
$link-color: #3fbce6;


/* ---------header --------- */
$border-color: #f5f5f5;
$nav-bg: #e42826;

/* --------articles --------- */
$articles-bg: #ebebeb;
$red: #bd0d1a;

/* ---------products---------- */
$product-border-color: #e8e7eb;

/* ---------footer---------- */
$footer-bg: #f4f6f7;
$orange: #e72f19;

/* ---------breadcrumbs --------- */

$blue: #0054a6;

/* ---------catalog colors --------- */
$grey: #e5e5e5; 

/* ---------tabs--------- */
$tabs-color: #d4d9dc;

/* ---------product page--------- */
$green-color: #02b502;

/* ---------contacts colors --------- */
$icon-grey: #6d6d6d;
$border-contacts: #e4e4e4;
$purple: #85549b;
$contacts-text: #282828;

/* --------- sections--------- */
@import "_plugins/**/*";

/* --------- widgets--------- */
@import "_widgets/**/*";

/* --------- sections--------- */
@import "_sections/**/*";


/* --------- adjustment style --------- */
.section__title_text{
    text-align: center;
    font-size: em(38px);
	@include respond-to(mobile){
		font-size: em(28px);
		text-transform: uppercase;
	}
	@include respond-to(extraSmall-screens){
		font-size: em(28px);
		text-transform: uppercase;
	}
	@include respond-to(small-screens){
		font-size: em(35px);
	}
}
.section__title_span{
    text-transform: lowercase;
      @include respond-to(mobile){
        text-transform: uppercase;
    }
    @include respond-to(extraSmall-screens){
        text-transform: uppercase;
    }
}
.menu-hidden{
	@media screen and (max-width: 1199px) and (min-width: 1024px){
		display: none !important;
	}
	@media screen and (max-width: 1023px) and (min-width: 768px){
		display: block !important;
	}
}

//  item label 
.products__label_content{
 	position: absolute;
    left: 14px;
    z-index: 1;
    min-width: 140px;
}
.label__item{
	@include clearfix;
}
.products__label_sale{
	background: $accent-color;
	&:after{
		border-color: transparent transparent transparent $accent-color;
	} 
}
.products__label_latest{
	background: #1fb122;
	&:after{
		border-color: transparent transparent transparent #1fb122;
	}
}
.products__label_icon{
	display: block;
    padding: 2px 9px;
    color: #fff;
    position: relative;
    float: left;
    font-size: 13px;
    &:after{
		content: "";
		display: block;
		position: absolute;
		right: -7px;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 11.5px 0 11.5px 7px;
	}
}

