.produt__change-count{
    @include inlineblock();
    @include clearfix;
    border: 1px solid $title-color-blue;
    .amount{
        float: left;
        width: 58px;
        height: 38px;
        line-height: 38px;
        outline: none;
        border: none;
        // border-right: 1px solid $title-color-blue;
        text-align: center;
        font-size: 26px;
        padding: 0;
        font-family: "HeliosCondBold", arial;
    }
    .change__count_buttons{
        float: left;
        border-left: 1px solid $title-color-blue;
    }
    .count_buttons{
        display: block;
        border-bottom: 1px solid $title-color-blue;
        background: #fff;
        padding: 0 11px;
        line-height: 19px;
        &:last-child{
            border-bottom: none;
        }
        .fa{
            font-size: 11px;
            vertical-align: middle;
        }
    }
}