.breadcrumbs{
    margin-bottom: 7px; 
}
.breadcrumbs__list{
    padding: 12px 0 8px 0;
    margin-left: 30px;
    position: relative;
    &:before{
        content: '';
        display: block;
        @include get-sprite($misc-sprite, home_breadcrumbs);
        left: -30px;
        top: 3px;
        position: absolute;
        @include transform(translate(0, 50%));
    }
}

.breadcrumbs__item{
    @include inlineblock(middle);
    font-size: em(16px);

    &:after{
        content: '';
        @include inlineblock(middle);
        margin: 0 10px 0 14px;
        @include get-sprite($misc-sprite, breadcrumbs_next);
    }
    &:last-child{
        &:after{
            display: none;
        }
        .breadcrumbs__link{
            color: $title-color-black;
            text-decoration: none;
            &:hover,
            &:focus,
            &:active{
                color: $title-color-black;
            }
        }
    }
}

.breadcrumbs__link{
    font-family: 'HeliosCondRegular', arial;
    color: $blue;
    line-height: 16px;
    text-decoration: underline;
    &:hover, &:active, &:focus{
        color: $blue;
        text-decoration: underline;
    }
 }