.main__button{
    @include inlineblock();
    @include border-radius(3px);
    text-align: center;
    font-family: HeliosCondRegular, arial;
    font-size: em(21px);
    padding: 14px;
    white-space: nowrap;
    cursor: pointer;
}
.submit__btn_accent{
    @extend .main__button;
}
.feedback-submit{
   font-family: 'HeliosCondBold', arial; 
}

//PRODUCT BUY
.products__buy-btn,
.product-buy__btn--in-cart,
.submit__btn_accent,
.submit__btn_main,
.writereview{
    color: $main-color;
    @include transition(opacity 0.25s ease-out);   
    position: relative;
    -webkit-backface-visibility: hidden;
    z-index: 1;   
    @include border-radius(3px);
    font-family: 'HeliosCondBold', arial;
    &:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transition(opacity 0.25s ease-out);  
        z-index: 2;
        opacity: 0;
        @include border-radius(3px);
    }
    &:hover,
    &:active,
    &:focus{
        color: $main-color;
        &:after{
            opacity: 1;
        }
    }
}
.writereview{
    color: #485c6b;
    border: 1px solid #e1e1e1;
    // font-size: 18px;
    background: #f1f1f1;
    background: -moz-linear-gradient(top,  #f1f1f1 0%, #e6e6e6 100%); 
    background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e6e6e6 100%); 
    background: linear-gradient(to bottom,  #f1f1f1 0%,#e6e6e6 100%); 
    -webkit-box-shadow: 0px 4px 0px 0px rgba(148, 148, 148, 1);
    -moz-box-shadow:    0px 4px 0px 0px rgba(148, 148, 148, 1);
    box-shadow:         0px 4px 0px 0px rgba(148, 148, 148, 1);
    .arrow-link-inner{
        @include inlineblock(middle);
        border-bottom: none;
        &:before{
            content: "";
            @include inlineblock(middle);
            @include get-sprite($misc-sprite, comments_icon);
            margin-right: 10px;
        }
    }
    &:hover, 
    &:active, 
    &:focus{
        color: #485c6b;
        &:after{
        background: #e6e6e6; 
        background: -moz-linear-gradient(top,  #e6e6e6 0%, #f1f1f1 100%); 
        background: -webkit-linear-gradient(top,  #e6e6e6 0%,#f1f1f1 100%); 
        background: linear-gradient(to bottom,  #e6e6e6 0%,#f1f1f1 100%); 
        }
    }
}

.submit__btn_main{
    @extend .main__button;
    font-size: em(18px);
    color: $title-color-blue;
    background: $main-color;
    padding: 12px 47px;
    border: 1px solid $title-color-blue;
    min-width: 190px;
    &:hover, 
    &:active, 
    &:focus{
        &:after{
            background: rgb(6,40,65); 
            background: -moz-linear-gradient(top,  rgba(6,40,65,1) 0%, rgba(15,77,124,1) 100%); 
            background: -webkit-linear-gradient(top,  rgba(6,40,65,1) 0%,rgba(15,77,124,1) 100%); 
            background: linear-gradient(to bottom,  rgba(6,40,65,1) 0%,rgba(15,77,124,1) 100%);
        }
    }
}

.products__buy-btn,
.submit__btn_accent{
    text-align: center;
    background: rgb(231,37,27); 
    background: -moz-linear-gradient(top,  rgba(231,37,27,1) 0%, rgba(199,21,19,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(231,37,27,1) 0%,rgba(199,21,19,1) 100%); 
    background: linear-gradient(to bottom,  rgba(231,37,27,1) 0%,rgba(199,21,19,1) 100%); 
    -webkit-box-shadow: 0px 3px 0px 0px rgba(166, 18, 11, 1);
    -moz-box-shadow:    0px 3px 0px 0px rgba(166, 18, 11, 1);
    box-shadow:         0px 3px 0px 0px rgba(166, 18, 11, 1);
    &:after{
        background: rgb(199,21,19); 
        background: -moz-linear-gradient(top,  rgba(199,21,19,1) 0%, rgba(231,37,27,1) 100%); 
        background: -webkit-linear-gradient(top,  rgba(199,21,19,1) 0%,rgba(231,37,27,1) 100%); 
        background: linear-gradient(to bottom,  rgba(199,21,19,1) 0%,rgba(231,37,27,1) 100%);
   
    }
}
.product-buy__btn--in-cart{
    // line-height: normal;
    background: rgb(7,210,7); 
    background: -moz-linear-gradient(top,  rgba(7,210,7,1) 0%, rgba(0,180,0,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(7,210,7,1) 0%,rgba(0,180,0,1) 100%); 
    background: linear-gradient(to bottom,  rgba(7,210,7,1) 0%,rgba(0,180,0,1) 100%);
    -webkit-box-shadow: 0px 3px 0px 0px rgba(3, 141, 3, 1);
    -moz-box-shadow:    0px 3px 0px 0px rgba(3, 141, 3, 1);
    box-shadow:         0px 3px 0px 0px rgba(3, 141, 3, 1);
    &:after{
        background: rgb(0,180,0); 
        background: -moz-linear-gradient(top,  rgba(0,180,0,1) 0%, rgba(7,210,7,1) 100%); 
        background: -webkit-linear-gradient(top,  rgba(0,180,0,1) 0%,rgba(7,210,7,1) 100%); 
        background: linear-gradient(to bottom,  rgba(0,180,0,1) 0%,rgba(7,210,7,1) 100%); 
    }
}

.products__buy-span,
.submit__btn_span,
.submit__btn_span:before,
.btn__accent_span,
.arrow-link-inner{
    position: relative;
    z-index: 3;
    @include inlineblock(middle);
}
.products__buy-content{
    &:before{
        content: "";
        @include inlineblock(middle);
        @include get-sprite($misc-sprite, catalog_cart);
        margin-right: 8px;
        position: relative;
        z-index: 3;
    }
    // @include respond-to(mobile){
    //     &:before{
    //         @include get-sprite($misc-sprite, catalog_cart_mob);
    //         // margin-right: 0;
    //     }
    // }
    // @include respond-to(extraSmall-screens){
    //     &:before{
    //         @include get-sprite($misc-sprite, catalog_cart_mob);
    //         // margin-right: 0;
    //     }
    // }
}

// PAGE PRODUCT BLUE BUTTONS
.buy__click_btn-wrap{
    @include transition(opacity 0.2s ease-out);  
    position: relative;
    z-index: 1;
    background: rgb(6,40,65);
    background: -moz-linear-gradient(top,  rgba(6,40,65,1) 0%, rgba(9,60,99,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(6,40,65,1) 0%,rgba(9,60,99,1) 100%); 
    background: linear-gradient(to bottom,  rgba(6,40,65,1) 0%,rgba(9,60,99,1) 100%); 
    &:hover{
       .button-bg{
            opacity: 1;
       }
    }
}
.button-bg {
    display: inline-block;
    position: absolute;
    width: 175px;
    height: 44px;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgb(6,40,65);
    background: -moz-linear-gradient(top,  rgba(6,40,65,1) 0%, rgba(15,77,124,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(6,40,65,1) 0%,rgba(15,77,124,1) 100%); 
    background: linear-gradient(to bottom,  rgba(6,40,65,1) 0%,rgba(15,77,124,1) 100%);
    z-index: 2;
    opacity: 0;
    @include transition(opacity 0.2s ease-out);  
    border: 1px solid #204664;
}

// SLISK BUTTON
.paginations {
    position: absolute;
    width: 100%;
    height: 1px;
}

.pagination__button{
    top: -28px;
    border: none;
    cursor: pointer;
    position: absolute;
    cursor: pointer;
    background: transparent;
    @include border-radius(50%);
    width: 48px;
    height: 48px;
    text-align: center;
     span{
        font-size: 14px;
        vertical-align: top;
    }
    &:hover{
        @include transition(all 0.3s ease-out);   
        span{
            @include transition(all 0.3s ease-out);   
        }
    }
}

.slick__arrows-center{
    position: relative;
    .paginations {
        top: 40%;
        @media screen and (max-width: 650px) and (min-width: 320px){
            top:28%;
        }
    }
    .pagination__button{
        top: -28px;
        border: none;
        opacity: 1;
        cursor: pointer;
        position: absolute;
        // @include transition(all 0.3s ease-out);
        &:hover, &:active{
            opacity: 0.6;
        }
    }
    .button_prev{
        left: 0;
        &:hover{
            opacity: 0.6;
        }
    }
    .button_next{
        right: 0;
        &:hover{
            opacity: 0.6;
        }
    }
}


// CATALOG BUTTON
.filter__accept{
    color: $main-color;
    background: #0a2e4b;
    background: -moz-linear-gradient(top,  #0a2e4b 0%, #073456 100%); 
    background: -webkit-linear-gradient(top,  #0a2e4b 0%,#073456 100%); 
    background: linear-gradient(to bottom,  #0a2e4b 0%,#073456 100%); 
    padding: 8px 30px;
    display: block;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(2, 30, 51, 1);
    -moz-box-shadow:    0px 3px 0px 0px rgba(2, 30, 51, 1);
    box-shadow:         0px 3px 0px 0px rgba(2, 30, 51, 1);
    &:hover{
        color: $main-color;
    }
}



$login-submit: #083253;
.login__submit{
    background: $login-submit;
    @include transition(all 0.3s ease-out);
    color: #ffffff;
    font-family: 'HeliosCondBold', arial;
    font-size: 21px;
    text-transform: uppercase;
    width: 315px;
    text-align: center;
    margin: 0 auto;
    display: block;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(2, 23, 39, 1);
    -moz-box-shadow:    0px 3px 0px 0px rgba(2, 23, 39, 1);
    box-shadow:         0px 3px 0px 0px rgba(2, 23, 39, 1);
    @include border-radius(2px);
    border: none;
    outline: none;
    padding: 15px;
    &:hover{
        background: lighten($login-submit, 5%);
    }
}

.banner__btn{
    font-size: 20px;
    @include inlineblock;
    text-align: center;
    font-family: "HeliosCondBold", arial;
    padding: 11px 23px;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
    @include  border-radius(3px); 
}

/* --------- slick-dots  --------- */
// .slick-dots {
//     position: absolute;
//     left: 50%;
//     bottom: 0;
//     @include transform(translate(-50%, 0));
//     & > li {
//         display: inline-block;
//         margin: 0 2px;
//         width: 9px;
//         height: 15px;
//         & > button {
//             background: none;
//             border: none;
//             outline: none;
//             background: $title-color-blue;
//             height: 9px;
//             width: 9px;
//             padding: 0;
//             border-radius: 50%;
//             margin: 0 auto;
//             &:before {
//                 content: "";
//             } 
//             &:hover, &:focus{
//                 opacity: 1;
//                 background: $title-color-blue;
//             }
//         }
//         &.slick-active{
//             & > button{
//                 height: 11px;
//                 width: 11px;
//                 color:  $accent-color;
//                 background: $accent-color;
//                 opacity: 1;
//             }
//         }
//     }
// }