.cabinet-page{
	margin-bottom: 30px;
	.sidebar__title{
		background: #083253;
		text-transform: uppercase;
		text-align: center;
		font-size: 24px;
	}
	.cart__content{
		padding-left: 20px;
		margin-bottom: 0;
	}
	// .content__sale{
	// 	width: 840px;
	// }

}
.personal__data{
	font-size: 24px;
	-webkit-box-shadow: 0px 40px 40px -15px rgba(13,48,81,0.4);
    -moz-box-shadow: 0px 40px 40px -15px rgba(13,48,81,0.4);
    box-shadow: 0px 40px 40px -15px rgba(13,48,81,0.4);
    margin-bottom: 50px;
}
.sidebar__content{
	background: #e6eaed;
	border: 1px solid #cdd3d7;
	color: $title-color-blue;
}
.personal__data_wrap{
 	padding: 15px;
 	border-bottom: 1px solid #cdd3d7;
}
.personal__data_span-id{
	text-transform: uppercase;
}
.personal__data_span{
	font-family: 'HeliosCondBold', arial;
}
.personal__info_text{
	font-size: 17px;
}
.cabinet__menu{
	.sidebar-nav__item{
		border-top: 1px solid #c3cbcf;
		&.active{
			.sidebar-nav__link{
				background: $nav-bg;
				color: $main-color;
			}
		}
	}
	.sidebar-nav__link{
		background: #e6eaed;
		padding: 10px 15px;
		box-shadow: none;
		color: $title-color-blue;
		-webkit-box-shadow: inset 0px 1px 1px 0px #fff;
		-moz-box-shadow: inset 0px 1px 1px 0px #fff;
		box-shadow: inset 0px 1px 1px 0px #fff;
		&:hover{ 
			background: $nav-bg;		
		}
		&:active, &:focus{
			color: $main-color;
		}
	}
}
.cabinet-page{
	$icons: orders, data, password, exit;  
	$menu-map: sprite-map('icons/cabinet/*.png', $spacing: 70px);
	$menu-map-hover: sprite-map('icons/cabinet_hover/*.png', $spacing: 70px);
	@each $icon in $icons {
	    .sidebar-nav__item_#{$icon}{
	        .sidebar-nav__link{
	        	position: relative;
	        	span{
	        		margin-left: 40px;
	        	}
	     	    &:before{
	        		content: "";
	        		display: block;
	        		position: absolute;
	            	@include get-sprite($menu-map, $icon);
	            }
	            &:hover{
	            	&:before{
	            		@include get-sprite($menu-map-hover, $icon);
	            	}
	            }
	        }
	        &.active{
	        	.sidebar-nav__link{
	        		&:before{
		            	@include get-sprite($menu-map-hover, $icon);
		            }
		        }
	        }
	    }
	}
	// .cart__content{
	// 	margin-bottom: 40px;
	// }
	.pane__tab_orders_inner{
		margin-bottom: 40px;
		.content__header,
		.content__row{
			padding: 15px;
		}
	}
	.pane__tab_data,
	.pane__tab_password,
	.pane__tab_orders_inner{
		border: 1px solid #e8e8e8;
		border-bottom: none;
		-webkit-box-shadow: 0px 28px 30px 0px rgba(0, 0, 0, 0.33);
		-moz-box-shadow:    0px 28px 30px 0px rgba(0, 0, 0, 0.33);
		box-shadow:         0px 28px 30px 0px rgba(0, 0, 0, 0.33);
	}
	.table__cart{
		border: none;
		color: $title-color-blue;
	}
	.cart__item{
		border-bottom: 2px solid #dc342c;
	}
	.cart__title{
		font-size: 32px;
		font-family: 'HeliosCondBold', arial;
		padding: 12px 15px;
		margin-bottom: 0;
	}
	.table__cart thead tr th{
		border-bottom: none;
	}
	.table__cart thead tr th, 
	.table__cart tbody tr td{
		border-right: none;
	}
	.table__cart thead tr th,
	.table__cart tbody tr td, 
	.table__cart tfoot tr td{
		padding: 0.8em 0.9em;
		vertical-align: top;
	}
	.table__cart th{
		font-family: 'HeliosCondRegular', arial;
		font-weight: normal;
	}
	.table__cart .cart__item_order-number,
	.table__cart th span{
		font-family: "HeliosCondBold", arial;
	}
	.table__cart .cart__image_link{
		width: 95px;
		height: 95px;
		border: 1px solid #e8e8e8;
	}
	.cart__item_order-number,
	.cart__item_status{
		width: 15%;
	}
	.cart__item_data,
	.cart__item_quantity{
		width: 35%;
	}

	.cart__item_data,
	.cart__item_order-number{
		text-align: left;
	}
	.cart__item_status,
	.cart__item_quantity{
		text-align: right;
	}
	.cart__item_quantity{
		color: $title-color-blue;
		font-size: 18px;
	}
	.table__cart .cart__item_total span{
		font-size: 18px;
		margin-right: 0;
	}
	.cart__item_name{
		width: 100%;
	}
	.table__cart tfoot{
		tr{
			background: transparent;
		}
		.cart__item_total{
			text-transform: none;
		}
	}
	.cart__item_delivery_left{
		text-align: left;
		font-size: 14px;
	}
	.cart__item_delivery_right{
		text-align: right;
	}
	.order-number_span{
		display: block;
		position: relative;
		margin-left: 20px;
		&:before{ 
			content: "";
			display: block;
			position: absolute;
			left: -20px;
			top: 50%;
			@include transform(translate(0, -50%));
			@include get-sprite($misc-sprite, cabinet_arrow_down);
		}
	}
	.wishlists__header_text{
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 350px;
		display: block;
	}
	.status__awaiting{
		color: #e7241a;
	}
	.status__done{
		color: #109310;
	}
	.status__cancelled{
		color: $title-color-blue;
	}
	.cart__item_content,
	.wishlists__item_content{
		display: none;
	}
	.cart__item{
		&.active{
			.order-number_span{
				&:before{ 
					@include get-sprite($misc-sprite, cabinet_arrow_up);
				}
			}
			// .cart__item_content{
			// 	display: block;
			// }
		}
	}
	.cart__item_header,
	.wishlists__item_header .cart__item_order-number{
		&:hover{
			cursor: pointer;
		}
	}
	// .tab__pane{
	// 	border: 1px solid #e8e8e8;
	// }
	.contacts__wrap{
		.feedback-submit{
			width: 175px;
    		padding: 7px 14px;
    		border: none;
		}
	}
	.contacts__form_widget{
		max-width: 560px;
		padding: 0 15px 30px;
	}
	.contacts__wrap{
		@include clearfix;
	}
	.contacts__form_label{
		float: left;
		width: 30%;
	}
	.contacts__form-input{
		float: left;
		width: 70%;
		border: 1px solid #b9b9b9;
		font-family: "HeliosCondItalic", arial;
	}
	.contacts__form-input::-webkit-input-placeholder{ 
		font-size: 24px;
		font-weight: normal;
		color: #092e4a;
		opacity: 0.5;
	}
	.contacts__form-input:-moz-placeholder{
		font-size: 24px;
		font-weight: normal;
		color: #092e4a; 
		opacity: 0.5;
	}
	.contacts__form-input:-ms-input-placeholder{ 
		font-size: 24px;
		font-weight: normal;
		color: #092e4a;
		opacity: 0.5;
	}
	.contacts__form-email{
		border: none;
		border-bottom: 1px solid #b9b9b9;
		font-size: 18px;
		font-family: "HeliosCondItalic", arial;
		padding: 0;
	}
	.contacts__form-email::-webkit-input-placeholder{ 
	    font-family: "HeliosCondItalic", arial;
	    font-size: 18px;
	    font-weight: bold;

	}
	.contacts__form-email:-moz-placeholder{
	  	font-family: "HeliosCondItalic", arial;
	    font-size: 18px;
	    font-weight: bold;
	}
	.contacts__form-email:-ms-input-placeholder{ 
	    font-family: "HeliosCondItalic", arial;
		font-size: 18px;
	    font-weight: bold;
	}
	.tab__pane_password{
		.contacts__form_widget{
			max-width: 650px;
		}
	}
}
@include respond-to(mobile){
	.cabinet-page {
		.cart__content{
			padding-left: 0;
		}
		.sidebar-nav__link{
			&:after{
				display: none;
			}
		}
		.table__cart .cart__image_link{
			width: 60px;
			height: 60px;
		}
		.table__cart thead tr th,
		.table__cart tbody tr td, 
		.table__cart tfoot tr td{
			padding: 0.8em 0.3em;
		}
	}
	.cabinet__menu{
		margin-bottom: 30px;
	}
	.personal__data{
		margin-bottom: 0;
	}
	.personal__data .sidebar__content,
	.cabinet__menu .sidebar__content{
		display: none;
	}
} 
@include respond-to(extraSmall-screens){
	.cabinet-page {
		.cart__content{
			padding-left: 0;
		}
		.sidebar-nav__link{
			&:after{
				display: none;
			}
		}
		.table__cart .cart__image_link{
			width: 60px;
			height: 60px;
		}
		.table__cart thead tr th,
		.table__cart tbody tr td, 
		.table__cart tfoot tr td{
			padding: 0.8em 0.3em;
		}
	}
	.cabinet__menu{
		margin-bottom: 30px;
	}
	.personal__data{
		margin-bottom: 0;
	}
	.personal__data .sidebar__title,
	.cabinet__menu .sidebar__title{
		&:hover{
			cursor: pointer;
		}
	}
	.personal__data .sidebar__content,
	.cabinet__menu .sidebar__content{
		display: none;
	}

}
@include respond-to(small-screens){
	.cabinet-page{
		.sidebar{
			float: none !important;
			margin-bottom: 20px;
		}
		.content__sale{
			width: 100%;
			float: none !important;
		}
		.cart__content{
			padding-left: 0;
		}
		.table__cart thead tr th,
		.table__cart tbody tr td, 
		.table__cart tfoot tr td{
			padding: 0.8em 0.3em;
		}
		.table__cart th{
			font-size: 17px;
		}
		.table__cart .cart__image_link{
			width: 60px;
			height: 60px;
		}
		.personal__data{
			margin-bottom: 0;
		}
	}
}