.sort__list{
	border-top: 1px solid #e8e7eb;
	border-bottom: 1px solid #e8e7eb;
	@include clearfix;
	background: #fff;
}
.sort__item{
	width:  33.33333333%;
	float: left;
	color: $title-color-blue;
	font-size: em(14px);
	padding: 17px 14px;
	display: block;
	border-right: 1px solid #e8e7eb;
	position: relative;
	&:hover{
		cursor: pointer;
	}
	&:last-child{
		border-right: none;
	}
}
select.sort__title_price{
    position: relative;
    outline: 0px;
    -webkit-appearance: button;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    border: 1px solid transparent;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    & + .sort__span{
        right: 14px;
    }
    &:hover{
    	cursor: pointer;
    }
}
.sort__title{
	color: $title-color-blue;
	padding-right: 10px;
	position: relative;
}
.sort__title_price{
	.sort__title_text{
		display: none;
		&.active{
			display: block;
		}
	}
}
.sort__span{
	display: block;
	@include get-sprite($misc-sprite, sort_icon);
	position: absolute;
	right: 0;
	top: 50%;
	@include transform(translate(0, -50%));
}
.sort__view_link{
	position: relative;
    display: block;
    outline: none !important;
    width: 17px;
    height: 17px;
}

.sort__view-icon{
    @include absolute-center;
}
.sort__view_grid{
	.sort__view-icon{
		@include get-sprite($misc-sprite, sort_grid);
	}
	&:hover,
	&.active{
		.sort__view-icon{
			@include get-sprite($misc-sprite, sort_grid_hover);
		}
	}
}
.sort__view_rows{
	.sort__view-icon{
		@include get-sprite($misc-sprite, sort_lines);
	}
	&:hover,
	&.active{
		.sort__view-icon{
			@include get-sprite($misc-sprite, sort_lines_hover);
		}
	}
}
.sort-view{
	@include clearfix;
	.sort__title{
		float: left;
	}
	.sort__view-list{
		float: right;
		.sort__view-item{
			@include inlineblock(middle);
			position: relative;
		}
	}
	.sort__view-link{
		display: block;
		width: 17px;
		height: 17px;
	}

}
@include respond-to(mobile){
	.sort__list{
		position: relative;
		height: 125px;
	}
	.sort__item{
		width: 100%;
		position: absolute;
		left: 0;
		top: 6px;
		@include transform(translate(0, 100%));
		float: none;
		border-right: none;
	}
	.sort-view{
		top: 0;
		@include transform(none);
		float: none;
		font-size: em(27px);
		font-family: 'HeliosCondBold', arial;
		.sort__title{
			text-align: center;
			float: none;
			padding-right: 0;
		}
	}
} 
@include respond-to(extraSmall-screens){
	.sort__list{
		position: relative;
		height: 125px;
	}
	.sort__item{
		width: 100%;
		position: absolute;
		left: 0;
		top: 6px;
		@include transform(translate(0, 100%));
		float: none;
		border-right: none;
	}
	.sort-view{
		top: 0;
		@include transform(none);
		float: none;
		font-size: em(27px);
		font-family: 'HeliosCondBold', arial;
		.sort__title{
			text-align: center;
			float: none;
			padding-right: 0;
		}
	}
}
@include respond-to(small-screens){
	.sort__list{
		position: relative;
		height: 125px;
	}
	.sort__item{
		width: 100%;
		position: absolute;
		left: 0;
		top: 6px;
		@include transform(translate(0, 100%));
		float: none;
		border-right: none;
	}
	.sort-view{
		top: 0;
		@include transform(none);
		float: none;
		font-size: em(27px);
		font-family: 'HeliosCondBold', arial;
		.sort__title{
			text-align: center;
			float: none;
			padding-right: 0;
		}
	}
	.sort__view-list{
		display: none;
	}
}
// .sort__view{
// 	.sort__title,
// 	.sort__view-list{
// 		@include inlineblock(middle);
// 	}
// }