.category__catalog_header{
	border-bottom: 3px solid #e6e6e6;
	margin-bottom: 17px;
}
.category__catalog_title{
	text-align: left;
	// width: 316px;
	padding-bottom: 6px;
	// border-bottom: 3px solid #cf1e2e;
	color: $title-color-blue;
	font-size: em(34px);
	position: relative;
	&:after{
		content: "";
		display: block;
		width: 316px;
		height: 3px;
		background: #cf1e2e;
		position: absolute;
		left: 0;
		bottom: -3px; 
	}
}
.category__catalog__offer{
	font-size: 0;
	border: 1px solid #cdc9c9;
	padding: 7px 5px;
	margin-bottom: 45px;
}
.catalog__offer_img-wrap,
.catalog__offer_content,
.catalog__content_img-wrap{
	@include inlineblock();
}
.catalog__offer_content{
 	font-size: 0;
 	@include clearfix;
}

.catalog__offer_btn,
.catalog__offer_text{
	@include inlineblock(middle);
}

.catalog__offer_text{
	font-size: 26px;
	font-family: 'HeliosCondBold', arial;
	color: $title-color-blue;
	margin: 0 70px;

}
.catalog__offer_span{
	color: #d81a13;
}
.catalog__offer_btn{
	.submit__btn_accent{
		padding: 7px 29px;
		margin-top: 10px;
		margin-right: 20px;
		font-size: 18px;
	}
}
// CATALOG LIST START
.category__catalog_list{
	font-size: 0;
	position: relative;
	margin-bottom: 17px;
	&:before{
		content: '';
		display: block;
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: #fff;
	}
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: #fff;
	}
}
.category__catalog_item{
	@include inlineblock();
	width: 25%;
	font-size: 16px;
	border-right: 1px solid #e8e7eb;
	border-bottom: 1px solid #e8e7eb;
	overflow: hidden;
	padding: 20px 23px;
	height: 390px;
	position: relative;
	@include respond-to(mobile){
		width: 100%;
		height: auto;
	} 
	@include respond-to(extraSmall-screens){
		width: 50%;
	}
	@include respond-to(small-screens){
		width: 33.33333333%;
	}

	.catalog__item_title{
		font-size: 18px;
		display: table-cell;
		vertical-align: top;
		height: 40px;
		@include respond-to(mobile){
			display: block;
			margin-bottom: 15px;
			height: auto;
		} 
	}
}
.category__catalog{
	.item__title_link{
		color: $title-color-blue;
		@include inlineblock(middle);
		&:hover,
		&:focus,
		&:active{
			color: lighten($title-color-blue, 10%);
		}
		
	}
	.item__title_link,
	.category__catalog_link{
		&:after{
			content: '>';
			@include inlineblock(middle);
			margin-left: 5px;
		}
	}
}
.catalog__item_content{
	@include clearfix;
	a{
		display: block;
	}
}
.catalog__item_img-wrap{
	// float: left;
	// width: 46%;
	width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 0 auto 10px; 
    text-align: center;
}
.catalog__item_img{
	max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.catalog__inner_item{
	font-size: em(14px);
	margin-bottom: 5px;
	&:last-child{
		margin-bottom: 0;
	}
}
.catalog__inner_link{
	color: #4d485b;
	&:hover,
	&:focus,
	&:active{
		color: #4d485b;
	}
}
.category__catalog_link{
	color: $nav-bg;
	&:hover{
		cursor: pointer;
		color: lighten($nav-bg, 10%);
	}
}
.catalog__inner_list{
	min-height: 90px;
	margin-bottom: 12px;
	@include respond-to(mobile){
		min-height: auto;
		margin-bottom: 0;
	} 
}
.menu__products{
	.recent__products{
		margin-bottom: 0;
	}
	.category__catalog_list{
		margin-bottom: 0;
		.slick-slide img{
			display: inline;
		}
	}
	.category__catalog_item{
		&:focus{
			outline: none;
		}
	}
}

// CATALOF LIST END



// .category__catalog_header{
// 	border-bottom: 3px solid #e6e6e6;
// 	margin-bottom: 17px;
// }
// .category__catalog_title{
// 	text-align: left;
// 	padding-bottom: 6px;
// 	color: $title-color-blue;
// 	font-size: em(34px);
// 	position: relative;
// 	&:after{
// 		content: "";
// 		display: block;
// 		width: 316px;
// 		height: 3px;
// 		background: #cf1e2e;
// 		position: absolute;
// 		left: 0;
// 		bottom: -3px; 
// 	}
// }
// .category__catalog__offer{
// 	font-size: 0;
// 	border: 1px solid #cdc9c9;
// 	padding: 7px 5px;
// 	margin-bottom: 45px;
// }
// .catalog__offer_img-wrap,
// .catalog__offer_content,
// .catalog__content_img-wrap{
// 	@include inlineblock();
// }
// .catalog__offer_content{
//  	font-size: 0;
//  	@include clearfix;
// }

// .catalog__offer_btn,
// .catalog__offer_text{
// 	@include inlineblock(middle);
// }

// .catalog__offer_text{
// 	font-size: 26px;
// 	font-family: 'HeliosCondBold', arial;
// 	color: $title-color-blue;
// 	margin: 0 70px;

// }
// .catalog__offer_span{
// 	color: #d81a13;
// }
// .catalog__offer_btn{
// 	.submit__btn_accent{
// 		padding: 7px 29px;
// 		margin-top: 10px;
// 		margin-right: 20px;
// 		font-size: 18px;
// 	}
// }
// // CATALOG LIST START
// .category__catalog_list{
// 	font-size: 0;
// 	position: relative;
// 	margin-bottom: 17px;
// 	&:before{
// 		content: '';
// 		display: block;
// 		width: 1px;
// 		height: 100%;
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		background: #fff;
// 	}
// 	&:after{
// 		content: '';
// 		display: block;
// 		width: 100%;
// 		height: 1px;
// 		position: absolute;
// 		bottom: 0;
// 		left: 0;
// 		background: #fff;
// 	}
// }
// .category__catalog_item{
// 	@include inlineblock();
// 	width: 25%;
// 	font-size: 16px;
// 	overflow: hidden;
// 	height: 350px;
// 	position: relative;
// 	&:hover{
// 		cursor: pointer;
// 	}
// 	@include respond-to(mobile){
// 		width: 100%;
// 		height: auto;
// 	} 
// 	@include respond-to(extraSmall-screens){
// 		width: 50%;
// 	}
// 	@include respond-to(small-screens){
// 		width: 33.33333333%;
// 	}
// 	@include respond-to(wide-screens){
// 		&:hover{
// 			overflow: visible;
// 			.catalog__item_content{
// 				z-index: 2;
// 				background: #fff;
// 				border: 1px solid #5f6b74;
// 				-webkit-box-shadow: 0px 5px 54px 0px rgba(0,0,0,0.73);
// 				-moz-box-shadow: 0px 5px 54px 0px rgba(0,0,0,0.73);
// 				box-shadow: 0px 5px 54px 0px rgba(0,0,0,0.73);
// 				-webkit-transition: box-shadow 0.2s,border 0.2s;
// 				-moz-transition: box-shadow 0.2s,border 0.2s;
// 				-ms-transition: box-shadow 0.2s,border 0.2s;
// 				-o-transition: box-shadow 0.2s,border 0.2s;
// 				transition: box-shadow 0.2s,border 0.2s;
// 			}
// 			.item__right_collumn{
// 				height: auto;
// 				overflow: visible;
// 				&:before{
// 					display: none;
// 				}
// 			}
// 		}
// 	}
// 	&.active{
// 		overflow: visible;
// 		.catalog__item_content{
// 			z-index: 2;
// 			background: #fff;
// 			border: 1px solid #5f6b74;
// 			-webkit-box-shadow: 0px 5px 54px 0px rgba(0,0,0,0.73);
// 			-moz-box-shadow: 0px 5px 54px 0px rgba(0,0,0,0.73);
// 			box-shadow: 0px 5px 54px 0px rgba(0,0,0,0.73);
// 			-webkit-transition: box-shadow 0.2s,border 0.2s;
// 			-moz-transition: box-shadow 0.2s,border 0.2s;
// 			-ms-transition: box-shadow 0.2s,border 0.2s;
// 			-o-transition: box-shadow 0.2s,border 0.2s;
// 			transition: box-shadow 0.2s,border 0.2s;
// 		}
// 		.item__right_collumn{
// 			height: auto;
// 			overflow: visible;
// 			&:before{
// 				display: none;
// 			}
// 		}
// 	}
// 	.catalog__item_content{
// 		width: 100%;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		min-height: 350px;
// 		padding: 20px 23px;
// 		border: 1px solid transparent;
// 		border-right: 1px solid #e8e7eb;
// 		border-bottom: 1px solid #e8e7eb;
// 		z-index: 1;
// 		@include respond-to(mobile){
// 			height: auto;
// 			position: relative;
// 		} 
// 	}
// 	.catalog__item_title{
// 		font-size: 18px;
// 		display: table-cell;
// 		vertical-align: top;
// 		height: 40px;
// 		@include respond-to(mobile){
// 			display: block;
// 			margin-bottom: 15px;
// 			height: auto;
// 		} 
// 	}
// }

// .category__catalog{
// 	.item__title_link{
// 		color: $title-color-blue;
// 		@include inlineblock(middle);
// 		&:hover,
// 		&:focus,
// 		&:active{
// 			color: lighten($title-color-blue, 10%);
// 		}
		
// 	}
// 	.item__title_link,
// 	.category__catalog_link{
// 		&:after{
// 			content: '>';
// 			@include inlineblock(middle);
// 			margin-left: 5px;
// 		}
// 	}
// }
// .catalog__item_content{
// 	@include clearfix;
// }
// .catalog__item_img-wrap{
// 	width: 150px;
//     height: 150px;
//     line-height: 150px;
//     margin: 0 auto 10px; 
//     text-align: center;
// }
// .catalog__item_img{
// 	max-width: 100%;
//     max-height: 100%;
//     width: auto;
//     height: auto;
// }
// .item__right_collumn{
// 	height: 108px;
// 	overflow: hidden;
// 	position: relative;
// 	z-index: 1;
// 	@media screen and (max-width: 1199px) and (min-width: 480px){
// 		height: 90px;
// 	}
// 	@include respond-to(mobile){
// 			height: auto;
// 	} 
// 	&:before{
// 		content: "";
// 		display: block;
// 	    position: absolute;
// 	    z-index: 2;
// 	    left: 0;
// 	    bottom: 0;
// 	    width: 100%;
// 	    height: 40px;
// 		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,1) 100%); 
// 		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,1) 100%); 
// 		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,1) 100%); 
// 		@include respond-to(mobile){
// 			display: none;
// 		}
// 	}
// }
// .catalog__inner_item{
// 	font-size: em(14px);
// 	margin-bottom: 5px;
// 	&:last-child{
// 		margin-bottom: 0;
// 	}
// }
// .catalog__inner_link{
// 	color: #4d485b;
// 	&:hover,
// 	&:focus,
// 	&:active{
// 		color: #4d485b;
// 	}
// }
// .category__catalog_link{
// 	color: $nav-bg;
// 	&:hover{
// 		cursor: pointer;
// 		color: lighten($nav-bg, 10%);
// 	}
// }
// .catalog__inner_list{
// 	// min-height: 90px;
// 	margin-bottom: 12px;
// 	@include respond-to(mobile){
// 		min-height: auto;
// 		margin-bottom: 0;
// 	} 
// }

// .menu__products{
// 	margin-bottom: 0;
// 	.similar__products_list{
// 		.slick-list{
// 			min-height: 450px;
// 		}
// 	}
// }

// // CATALOF LIST END