.catalog__banner{
	@include  clearfix;
}

.catalog__slider{
	width: 65.45454545454545%;
	border: 1px solid #cdc9c8;
	float: left;
}
.catalog__slide_content{
	img{
		width: 100%;
		max-height: 260px;
	}
}
.catalog__slide{
	position: relative;
}
.container__slider{
	position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    @include transform(translate(0, -100%));
}
 .slide__img_wrap{
 	max-width: 170px;
 	margin: auto;
}

.catalog__slide_inner{
	padding: 24px 20px 0;
}
 .slide__title{
 	h2{
 		font-size: em(26px);
 		color: $title-color-blue;
 		margin-bottom: 10px;
 		text-align: left;
 	}
 	span{
 		color: $accent-color;
 	}
}
.slide__text{
	font-size: em(18px);
	color: $title-color-blue;
	margin-bottom: 5px;
	line-height: 22px;
}


.slider__link{
	color: $accent-color;
	font-size: em(18px);
	text-decoration: underline;
}
