.main-title{
	font-family: 'HeliosCondBold', arial;
	color: $text-color;
	font-size: em(34px);
	margin-bottom: 10px;
    line-height: 36px;
    @media screen and (max-width: 382px) and (min-width: 320px){
        font-size: em(28px);
        line-height: 30px;
    }
}
.main-content{
    @include clearfix;
}

.content,
.content__sale{
    float: right;
    width: 860px;
    margin-bottom: 70px;
    @include respond-to(mobile){
        width: 100%;
    } 
    @include respond-to(extraSmall-screens){
        width: 100%;
    }
    @include respond-to(medium-screens){
    	width: 75%;
    }
    @include respond-to(small-screens){
        width: 70%;
    }
}
// SERVISES PAGES
@include respond-to(mobile){
    .services__content{
        .content{
            width: 100%;
            float: none !important;
        }
        .sidebar{
            width: 100%;
            float: none !important;
            margin: 0 auto;
        }
    }
} 
@include respond-to(extraSmall-screens){
    .services__content{
        .content{
            width: 100%;
            float: none !important;
        }
        .sidebar{
            width: 80%;
            float: none !important;
            margin: 0 auto;
        }
    }
}
@include respond-to(small-screens){
    .services__content{
        .content{
            width: 100%;
            float: none !important;
        }
        .sidebar{
            width: 80%;
            float: none !important;
            margin: 0 auto;
        }
    }
}
@include respond-to(medium-screens){
    .services__content{
        .content{
            width: 70%;
        }
        .sidebar{
            width: 30%;
        }
    }
}
// CATEGORY PAGE
@include respond-to(small-screens){
    .shop_category__page{
        // .container{
        //     width: 95%;
        // }
        .content{
            width: 100%;
        }
    }
}
@include respond-to(medium-screens){
    .shop_category__page{
        .sidebar {
            width: 32%;
        }
        .content{
            width: 68%;
        }
    }
}
