.description__page_wrapper{
	padding: 40px 0;
}


.description__page{
    padding-bottom: 20px;
    @include respond-to(mobile){
        display: none;
    } 
    @include respond-to(extraSmall-screens){
        display: none;
    }
    h2 {
		text-align: left;
		font-family: 'PTSansRegular', sans-serif;
		font-size: 32px;
		color: $text-color;
		margin-bottom: 33px;
    }
    p{
        color: #2a2a2a;
        font-size: em(16px);
        font-family: 'OpenSans', sans-serif;
        margin-bottom: 14px;
    }
}

.catalog__description_page{
    h2 {
        margin-bottom: 12px;
    }
    .description__page_content{
        margin-bottom: 17px;
    }
}