// FOOTER START
.footer{
    background: $footer-bg;
    padding: 21px 0; 
    -webkit-box-shadow: 0px 28px 30px 0px rgba(0,0,0,0.33),0px -5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 28px 30px 0px rgba(0,0,0,0.33),0px -5px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 28px 30px 0px rgba(0,0,0,0.33),0px -5px 10px 0px rgba(0,0,0,0.3);
}
.footer__info_block{
    margin-bottom: 16px;
}
.footer__info_block-title{
    font-family: 'HeliosCondRegular', arial;
    margin-bottom: 12px;
}
.subscription{
    font-size: 14px;
}
.subscription_form{
    margin-bottom: 12px;
}
.subscription__form-input{
    border: 1px solid #dee2e5;
    padding: 8px 6px;
    width: 63.69426751592357%;
    margin-right: -6px;
    @include respond-to(medium-screens){
        font-size: 12px;
    }
}
.subscription_form-submit{
    width: 36.94267515923567%;
    height: 34px;
    background: $orange;
    color: #ffffff;
    font-family: 'HeliosCondBold', arial;
    border: 1px solid $orange;
    @include respond-to(medium-screens){
        font-size: em(13px);
        padding: 0;
    }
    &:hover, 
    &:focus,
    &:active{
        background: lighten($orange, 5%);
    }
}
.subscription__text{
    font-size: 10px;
}
.footer__list, 
.footer__item_link,
.footer__title{
    color: $text-color;
}
.footer__menu_list{
    margin-bottom: 50px;
    font-size: 0;
    @include respond-to(mobile){
        margin-bottom: 0;
    }
    @include respond-to(extraSmall-screens){
        margin-bottom: 0;
    }
}
.footer__menu_item{
    font-family: 'HeliosCondRegular', arial;
    font-size: 16px;
    @include inlineblock();
    width: 25%;
    @include respond-to(mobile){
        width: 33.33333333333333%;
        margin-bottom: 20px;
    } 
    @include respond-to(extraSmall-screens){
        width: 33.33333333333333%;
        margin-bottom: 20px;
    }
}
.footer__title{
    font-size: em(18px);
    margin-bottom: 15px;
}
.footer__item{
    line-height: 24px;
}
.footer__item_link{
    color: $text-color;
    &:hover,
    &:active,
    &:focus{
        color: lighten($text-color, 15%);
    }
}
.socials__link{
    width: 32px;
    height: 32px;
    position: relative;
    @include inlineblock(middle);
}
.socials__icon{
    @include absolute-center;
} 
.footer__socials{
  .socials__icon{
        @include absolute-center;
        @include get-sprite($misc-sprite, fb);
    }  
}

.studio__copyright{
    font-size: em(14px);
    color: #000;
    font-family: 'HeliosCondRegular', arial;
    @include clearfix;
}
.copyright_text{
    float: left;
}
.studio__copyright_span{
    color: $text-color;
    display: block;
    float: right;
}
.studio__link{
    &:hover,
    &:active,
    &:focus{
        color: #1bae62;
    }
}
//MEDIA

.col-hidden-mb{
    display: none;
    @include respond-to(wide-screens){
        display: block;
    }
    @include respond-to(medium-screens){
        display: block;
    }
}
@include respond-to(mobile){
    .row-mob{
        margin-right: 0px;
        margin-left: 0px;
    }
    .studio__copyright-xs{
        width: 60%;
        font-size: 16px;
        margin-left: 6.66666666666667%;
    }
    .studio__copyright{
        padding-top: 35px;
    }
    .copyright_text,
    .studio__copyright_span{
        float: none;
    }
    .copyright_text{
        margin-bottom: 15px;
    }
    .studio__copyright_span{
        font-size: 12px;
    }
} 

@include respond-to(extraSmall-screens){
    .studio__copyright-xs{
        width: 60%;
        font-size: 16px;
        margin-left: 6.66666666666667%;
    }
    .studio__copyright{
        padding-top: 35px;
    }
    .copyright_text,
    .studio__copyright_span{
        float: none;
    }
    .copyright_text{
        margin-bottom: 15px;
        font-size: 15px;
    }
    .studio__copyright_span{
        font-size: 12px;
    }
}
@include respond-to(mobile){
    .footer__title{
        font-size: em(17px);
    }
    .footer__menu_item{
        margin-bottom: 8px;
    }
}
// FOOTER END