.header{
    background: #ffffff;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
}

.header.scroll{
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
       -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    .container{
        @include respond-to(medium-screens){
            width: 100%;
            padding: 0 15px;
        }
    }
    .navigation{
        background: $accent-color;
        box-shadow: none;
        transition: all 0.2s ease;
        .logo,
        .user__login,
        .contacts{
            display: block;
        }
        .logo{
            width: auto;
            @media screen and (max-width: 1023px) and (min-width: 768px){
                display: none;
            }
        }
        .logo__img_wrap{
            width: 230px;
            position: relative;
            height: 50px;
            opacity: 1;
            @media screen and (max-width: 1066px) and (min-width: 1024px){
                width: 187px;
            }
        }
        .logo__affix{
            display: block;
            @include absolute-center;
        }
        .contacts{
            width: auto;
        }
        .contacts__callback{
            display: none;
        }
        .contacts__tel_arrow{
            // width: 25px;
            right: 0;
            &:after{   
                @include get-sprite($misc-sprite, arrow_down_affix);
            }
        }
        .contacts__content_list{
            width: 100%;
            top: 42px;
            left: 0;
        }
        .user__login_link{
            font-size: 12px;
        }
    }

    .nav__item-affix{
        display: none;
    }
    .nav__list{
        float: left;
        margin-left: 15px; 
        border-left: 1px solid #c1150d;
        -webkit-box-shadow: inset 1px 0px 1px 0px rgba(255,255,255,0.4);
        -moz-box-shadow: inset 1px 0px 1px 0px rgba(255,255,255,0.4);
        box-shadow: inset 1px 0px 1px 0px rgba(255,255,255,0.4);
        @media screen and (max-width: 1023px) and (min-width: 768px){
            display: none;
            margin-left: 0;
            border-left: none;
            position: absolute;
            width: 100%;
            background: $accent-color;
            z-index: 100;
            left: 0;
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: $accent-color;
            }
        }
        @include respond-to(mobile){
            display: none;
            margin-left: 0;
            border-left: none;
            position: absolute;
            width: 100%;
            background: $accent-color;
            z-index: 100;
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: $accent-color;
            }
        }
        @include respond-to(extraSmall-screens){
            display: none;
            margin-left: 0;
            border-left: none;
            position: absolute;
            width: 100%;
            background: $accent-color;
            z-index: 100;
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: $accent-color;
            }
        }
    }
    .nav__item_dropdown .sf-with-ul{
        padding-right: 30px !important;
        @media screen and (max-width: 1176px) and (min-width: 1024px){
            padding-right: 27px !important;
        }
    }
    .navbar-header{
        @media screen and (max-width: 1199px) and (min-width: 1024px){
            width: 75%;
        }
    }
    .cbp-hrmenu .nav__list>li>a{
        font-size: 17px;
        padding: 14px 15px;
        .nav__span_arrow{
            right: 1em;
        }
        @media screen and (max-width: 1199px) and (min-width: 1110px){
            font-size: 16px;
            padding: 14px 12px;
        }
        @media screen and (max-width: 1109px) and (min-width: 1024px){
            font-size: 15px;
            padding: 14px 10px;
        }
    }
    .phone{
        color: #fff;
    }
    .contacts__link_span{
        color: #fff;
    }
    .contacts{
        border-right: 1px solid #c1150d;
        margin-right: 0;
        margin-top: 0;
        @media screen and (max-width: 1023px) and (min-width: 768px){
            border-right: none;
        }
        @include respond-to(mobile){
           border-right: none;
        }
        @include respond-to(extraSmall-screens){
            border-right: none;
        }
    }
    .contacts__tel{
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        padding: 0 30px 0 15px;
        @include respond-to(mobile){
            font-size: 20px;
        } 
        @include respond-to(extraSmall-screens){
            font-size: 23px;
        }
        @media screen and (max-width: 1199px) and (min-width: 1170px){
            font-size: 20px;
            padding: 0 27px 0 15px;
        }
        @media screen and (max-width: 1176px) and (min-width: 1024px){
            font-size: 19px;
            padding: 0 25px 0 10px;
        }
         &.opened{
            .contacts__tel_arrow{
                &:after{
                    @include get-sprite($misc-sprite, arrow_up_affix);
                }
            }
        }

    }
    .user__login_wrap{
        position: relative;
        min-width: 100px;
        float: left;
        height: 50px;
        @media screen and (max-width: 1023px) and (min-width: 768px){
            float: right;
        }
        @include respond-to(mobile){
            float: right;
        } 
        @include respond-to(extraSmall-screens){
            float: right;
        }
        
    }
    .user__login{
        top: 35px;
        transform: translate(0, -50%);
        padding: 6px 20px;
        background: $accent-color;
        border-radius: 0 0 5px 5px;
        background-image: none;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.3);
        box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.3);
        z-index: 2;
        right: -31px;
        padding: 12px 20px;
        @media screen and (max-width: 1023px) and (min-width: 768px){
            right: 0;
        }
        @include respond-to(mobile){
            position: absolute;
            right: 0;
            padding: 14px 20px
        } 
        @include respond-to(extraSmall-screens){
            position: absolute;
            right: 0;
            padding: 14px 20px;
        }
    }

}
.affix {
    top: 0;
    width: 100%;
    z-index: 100 !important;
}

// HEADER TOP START

.header__top{
    border-bottom: 1px solid $border-color;
    line-height: 39px;
    @include clearfix;
    @include respond-to(mobile){
        border-bottom: none;
    } 
    @include respond-to(extraSmall-screens){
        border-bottom: none;
    }
}

.top__header_nav-item{
    @include inlineblock(middle);
    font-size: 13px;

    @include respond-to(mobile){
        display: block;
    } 
    @include respond-to(extraSmall-screens){
        display: block;
    }
}
.wf-helioscondregular-n4-active .top__header_nav-item{
    font-size: 14px;
}
.top__header_nav-link{
    display: block;
    padding: 0 10px;
    color: $text-color;
    border-left: 1px solid transparent;
    border-right:  1px solid transparent;
    &:hover, &:active, &:focus{
        color: $accent-color;
    }
    @include respond-to(small-screens){
        padding: 0 1px;
    }
    @include respond-to(medium-screens){
        padding: 0 3px;
    }
}
 li.top__header_nav-item:nth-last-child(2),
li.top__header_nav-item:nth-last-child(1){
    .top__header_nav-link{
        @include inlineblock(middle);
        .top__header_nav-text{
            @include inlineblock(middle);
            @include respond-to(small-screens){
                display: none;
            }
        }
        &:before{
            content: "";
            @include inlineblock(middle);
            margin-right: 2px;
        }
    }
}
li.top__header_nav-item:nth-last-child(2){
    .top__header_nav-link{
        color: #00b701;
        &:before{
            @include get-sprite($misc-sprite, credit_icon);
        }
    }
}
li.top__header_nav-item:nth-last-child(1){
    .top__header_nav-link{
        color: $accent-color;
        &:before{
            @include get-sprite($misc-sprite, shre_icon);
        }
    }
}
.card__button,
.lang__switch{
    @include inlineblock(middle); 
}
.lang__switch{
    // margin-right: 20px;
    @include respond-to(small-screens){
        margin-right: 0;
    }
    @include respond-to(medium-screens){
        margin-right: 0;
    }
}
.lang__switch_link{
    margin-right: 11px;
    color: #989898;
    @include respond-to(small-screens){
        margin-right: 5px;
        &:last-child{
            margin-right: 0;
        }
    }
    &:hover,
    &:active, 
    &:focus{
        color: $text-color;
    }
    &.active{
        .lang__switch_span{
            color: $text-color;
        }
    }
}
.card__button{
    // padding: 0 20px;
    padding: 0 5px;
    @include respond-to(mobile){
        padding: 0;
    } 
    @include respond-to(extraSmall-screens){
        padding: 0;
    }
    @include respond-to(small-screens){
        padding: 0 8px;
    }
    @include respond-to(medium-screens){
        padding: 0 10px;
    }
    &:hover,
    &:active, 
    &:focus{
        color: $main-color;
        background: #062c4a;
        @include respond-to(mobile){
            background: transparent;
        }
        @include respond-to(extraSmall-screens){
            background: transparent;
        }
        .card__button_content{
            &:after{
                @include get-sprite($misc-sprite, nav_arrow);   
            }
            &:before{
                @include get-sprite($misc-sprite, shopping_cart_h); 
            }
        }
    }
    .card__button_content{
        font-family: 'HeliosCondBold', sans-serif;
        @include inlineblock(middle); 
        &:before{
            content: '';
            @include inlineblock(middle); 
            @include get-sprite($misc-sprite, shopping_cart); 
            margin-right: 5px;
            @include respond-to(small-screens){
                margin-right: 0px;
            }
        }
        &:after{
            content: "";
            @include get-sprite($misc-sprite, arrow_down);
            @include inlineblock(middle);
            margin-left: 12px;
            margin-top: -5px;
            @include respond-to(small-screens){
                margin-left: 5px;
            }
        }
    }
    .cart_price_span{
        @include inlineblock(middle);
        margin-right: 5px;
        @include respond-to(small-screens){
            margin-right: 0;
        }
        &:last-child{
            font-size: em(16px);
            margin-right: 0;
            @include respond-to(wide-screens){
                font-size: em(21px);
            }
      
        }
    }
    .cart_price_text{
        display: none;
        @include respond-to(wide-screens){
            @include inlineblock(middle);
        }
    }
}
.card__button_icon{
    position: relative;
    margin-right: 5px;
    .glyphicon{
        font-size: 14px;
        color: #00b400;
    }
}

// HEADER TOP END

// HEADER BOTTOM START
.header__bottom{
    .container{
        @include respond-to(medium-screens){
            padding: 0;
        }
    }
}
.header__bottom_content{
    padding: 29px 0;
    // max-height: 113px;
    @include clearfix;
}

.header__right_collumn{
    @include clearfix;
    float: left;
    position: relative;
}
.logo{
    display: block;
    float: left;
    max-width: 470px;
    @include clearfix;
    &:hover, &:focus, &:active{
        color: $text-color;
    }
    @include respond-to(small-screens){
        max-width: 260px;
    }
    @include respond-to(medium-screens){
        max-width: 390px;
    }
}
.logo__affix{
    display: none;
}


.logo__img_wrap,
.logo__item_text{
    float: left;
}
.logo__img_wrap{
    width: 63%;
    @include respond-to(small-screens){
        width: 100%;
    }
}
.logo__item_text{
    width: 37%;
    padding-left: 40px;
    position:  relative;
    @include respond-to(small-screens){
        display: none;
    }
    @include respond-to(medium-screens){
        padding-left: 20px;
    }
    &:after{
        content: '';
        display: block;
        width: 3px;
        height: 100%;
        position: absolute;
        background-color: $accent-color;
        top: 0;
        left: 20px;
        @include respond-to(medium-screens){
            left: 10px;
        }
    }
}
.logo__text{
    position: absolute;
    top: 0;
    left: -9999px;
}

.logo__description_text{
    font-size: 21px;
    font-family: "HeliosCondRegular", arial;
    text-align: left;
    text-transform: uppercase;
    opacity: 1;
    @include transition(all 0.2s ease 0s);
    @include respond-to(medium-screens){
        font-size: 20px;
    }
}
.header__socials{
    float: left;
    margin-right: 20px;
    @include respond-to(small-screens){
        display: none;
    }
    @include respond-to(medium-screens){
        margin-right: 10px;
    }
}
.socials__link_fb{
    width: 50px;
    height: 50px;
    position: relative;
    @include inlineblock(middle);
}

.header__socials{
  .socials__icon_fb{
        @include absolute-center;
        @include get-sprite($misc-sprite, fb_header);
    }  
}
// STARCH
.search{
    float: left;
    @include border-radius(2px);
    margin: 0 20px 0 6px;
    @include respond-to(small-screens){
        margin: 0 10px 0 10px;
    }
    @include respond-to(medium-screens){
        margin: 0 11px 0 5px;
    }
}
.search__form{
    font-size: 0;
    border: 1px solid #44596b;
}
.search__form-input{
    padding: 14px 15px;
    width: 223px;
    background: #ffffff;
    border: none;
    outline: none;
    font-family: 'HeliosCondRegular', arial;
    @include inlineblock();
    font-size: 16px;
    @include respond-to(small-screens){
        width: 147px;
    }
    @include respond-to(medium-screens){
        width: 173px;
    }
}
.search__form-submit{
    position: absolute;
    top: 0;
    left: -9999px;
}
.search__form-submit_label{
    @include inlineblock();
    margin-bottom: 0;
    position: relative;
}
.search__form-submit_elem{
    width: 35px;
    height: 48px;
    background: #ffffff;
    @include respond-to(small-screens){
        width: 30px;
    }
    @include respond-to(medium-screens){
        width: 30px;
    }
    &:focus{
        outline: none;  
    }
    &:hover{
        cursor: pointer;
    }
    &:after{
        content: "";
        display: block;
        @include get-sprite($misc-sprite, search);
        @include absolute-center;
    } 
}
.search__form-input::-webkit-input-placeholder{ 
    color: $text-color;
}
.search__form-input:-moz-placeholder{
   color: $text-color;
}
.search__form-input:-ms-input-placeholder{ 
    color: $text-color;
}
.contacts{
    float: left;
    margin-right: 20px;
    margin-top: -3px;
    line-height: 26px;
    width: 170px;
    @include respond-to(small-screens){
        margin-right: 10px;
        width: 145px;
    }
    @include respond-to(medium-screens){
        margin-right: 10px;
        width: 145px;
    }
}
.contacts__tel{
    font-size: 0;
    font-stretch: ultra-condensed;
    font-family: 'HeliosCondBold', arial;
    padding-right: 25px;
    padding-bottom: 3px;
    position: relative;
    // @include respond-to(mobile){
    //     padding-right: 24px;
    //     font-size: em(22px);
    // } 
    // @include respond-to(small-screens){
    //     font-size: em(21px);
    //     padding-right: 25px;
    // }
    // @include respond-to(medium-screens){
    //     font-size: em(21px);
    //     padding-right: 25px;
    // }
    &.opened{
        .contacts__tel_arrow{
            &:after{
                @include get-sprite($misc-sprite, arrow_up);
            }
        }
    }
}
.wf-helioscondregular-n4-active .contacts__tel{
    font-stretch: normal;
    font-family: 'HeliosCondBold', arial;
    font-size: em(24px);
    @include respond-to(mobile){
        padding-right: 24px;
        font-size: em(22px);
    } 
    @include respond-to(small-screens){
        font-size: em(21px);
        padding-right: 25px;
    }
    @include respond-to(medium-screens){
        font-size: em(21px);
        padding-right: 25px;
    }
}
.contacts__tel_arrow{
    width: 12px;
    height: 31px;
    position: absolute;
    display: block;
    @include transform(translate(-50%, -50%));
    right: -6px;
    top: 50%;
    // @include respond-to(medium-screens){
    //     right: 0;
    // }
    &:hover{
        cursor: pointer;
    }
    &:after{   
        content: "";        
        display: block;
        @include get-sprite($misc-sprite, arrow_down);
        @include absolute-center;
        // @include respond-to(medium-screens){
        //     right: 0px;
        // }
    }
}
.contacts__content_list{
    display: none;
    position: absolute;
    background: #fff;
    z-index: 1000;
    top: 30px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #aeaeae;
    border-top: none;
    font-size: 21px;
    width: 100%;
}
.contacts__inner-item{
    margin-bottom: 3px;
    &:last-child{
        margin-bottom: 0;
    }
}
.phone{
    color: $text-color;
    position: relative;
    &:hover{
        color: $text-color;
        cursor: pointer;
    }
}


.contacts__link_span,
.phone__inner_link{
    @include inlineblock();
    color: $text-color;
    &:hover, 
    &:active,
    &:focus{
        color: $text-color;
    }
}
.phone__inner_link{
    margin-left: 26px;
}
.contacts__inner-span{
    position: relative;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -26px;
        @include transform(translate(0, -50%));
    }
}
.lifecell-logo{
    &:before{
        @include get-sprite($misc-sprite, lifecell-logo);
    }
}
.kievstar-logo{
    &:before{
        @include get-sprite($misc-sprite, kievstar-logo);
    }
}
.vodafone-logo{
    &:before{
        @include get-sprite($misc-sprite, vodafone-logo);
    }

}
.contacts__callback{
    border-top: 1px solid #aeaeae;
    position: relative;
    &:hover{
        cursor: pointer;
    }
    &:before,
    &:after{
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 6px 5px;
        transform: translate(50%, 0);
        left: 12px;
    }
    &:after{
        border-color: transparent transparent #ffffff transparent;  
        top: -6px;
    }
    &:before{
        top: -7px;
        border-color: transparent transparent #aeaeae transparent;
    }
}
.callback__link{
    color: $accent-color; 
    font-size: em(15px);
    font-family: "HeliosCondRegular", arial;
    position: relative; 
    display: block; 
    &:hover, &:active, &:focus{
        color: $accent-color; 
    }
    &:before{
        content: '';
        @include inlineblock(middle); 
        margin-right: 14px;
        @include get-sprite($misc-sprite, phone_icon);
    }
}
.callback__span{
    @include inlineblock(middle);
    text-decoration: underline;
}
.user__login{
    position: absolute;
    @include  transform(translate(100%, -50%));
    top: 29px;
    right: 0px; 
    background: $nav-bg;
    float: left;
    color: #010101;
    text-transform: uppercase;
    // padding: 23px 33px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.33);
    background-image: -webkit-gradient(top, rgba(206, 29, 27, 0), rgba(206, 29, 27, 0.4));
    background-image: -webkit-linear-gradient(top, rgba(206, 29, 27, 0), rgba(206, 29, 27, 0.4));
    background-image: -moz-linear-gradient(top, rgba(206, 29, 27, 0), rgba(206, 29, 27, 0.4));
    background-image: -o-linear-gradient(top, rgba(206, 29, 27, 0), rgba(206, 29, 27, 0.4));
    background-image: linear-gradient(top, rgba(206, 29, 27, 0), rgba(206, 29, 27, 0.4));
    @include border-radius();
    text-align: center;
    &:hover{
        cursor: pointer;
        top: 30px;
        -webkit-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.33);
        background-image: -webkit-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    }
    // @include respond-to(small-screens) {
    //     padding: 23px 14px;
    // }
    // @include respond-to(medium-screens) {
    //     padding: 23px 14px;
    // }
}
.user__login_content{
    width:  156px;
    height: 90px;
    display: table-cell; 
    vertical-align: middle; 
    padding: 0 15px;
    @include respond-to(mobile){
        width: 130px;
        height: 72px; 
    } 
    @include respond-to(extraSmall-screens){
        width: 130px;
        height: 72px; 
    }
}
.user__login_link span{
    @include inlineblock(middle);
    text-decoration: underline;
}


.user__login_link{
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    &:hover,
    &:focus,
    &:active{
    color: #fff;
    }
    @include respond-to(small-screens){
        font-size: 12px;   
    }
}

// HEADER BOTTOM END
.top__menu_icon{
    display: none;
    @include get-sprite($misc-sprite, top_menu_icon);
    float: left;
    @include respond-to(mobile){
        display: block;
        &:hover{
            cursor: pointer;
        }
    } 
    @include respond-to(extraSmall-screens){
        display: block;
        &:hover{
            cursor: pointer;
        }
    }
}
.top__cart_icon{
    display: none;
    @include get-sprite($misc-sprite, top_cart_icon);
    float: right;
    @include respond-to(mobile){
        display: block;
    } 
    @include respond-to(extraSmall-screens){
        display: block;
    }
}
// MEDIA
.header__top{
    @include respond-to(mobile){
        padding: 17px 0;
    } 
    @include respond-to(extraSmall-screens){
        padding: 17px 0;
    }
    .top__header_nav,
    .lang__switch,
    .card__button_content{
        @include respond-to(mobile){
            display: none;
            position: absolute;
            z-index: 4;
            top: 45px;
            width: 100%;
            left: 0;
            background: #fff;
        } 
        @include respond-to(extraSmall-screens){
            display: none;
            position: absolute;
            z-index: 4;
            top: 45px;
            width: 100%;
            left: 0;
            background: #fff;
        }
    }
}
.header__bottom{
    .header__bottom_content{
        @include respond-to(mobile){
            padding: 10px 0 16px;
        }
        @include respond-to(extraSmall-screens){
            padding: 10px 0 16px;
        }
    }
    .logo{
        @media screen and (max-width: 400px) and (min-width: 320px){
            max-width: 190px;
            width: 190px;
            position: absolute;
            float: none;
            @include clearfix;
            @include transform(translate(-50%, -100%));
            left: 50%;
            top: -28px;
        }
        @media screen and (max-width: 479px) and (min-width: 401px){
            max-width: 260px;
            width: 260px;
            position: absolute;
            float: none;
            @include clearfix;
            @include transform(translate(-50%, -100%));
            left: 50%;
            top: -17px;
        } 
        @include respond-to(extraSmall-screens){
            max-width: 260px;
            width: 260px;
            position: absolute;
            float: none;
            @include clearfix;
            @include transform(translate(-50%, -100%));
            left: 50%;
            top: -17px;
                
        }
    }
    .logo__img_wrap{
        @media screen and (max-width: 400px) and (min-width: 320px){
            width: 190px;
        }
        @media screen and (max-width: 479px) and (min-width: 401px){
            width: 260px;
        } 
        @include respond-to(extraSmall-screens){
            width: 260px;
        }
    }
    .logo__item_text,
    .search,
    .header__socials{
        @include respond-to(mobile){
            display: none;
        }
        @include respond-to(extraSmall-screens){
            display: none;
        }
    }
    .contacts{
        @include respond-to(mobile){
            margin-right: 0;
        }
        @include respond-to(extraSmall-screens){
            margin-right: 0;
        }
    }
    .header__right_collumn{
        @include respond-to(mobile){
            @include clearfix;
            float: none;
            margin-bottom: 8px;
        }
        @include respond-to(extraSmall-screens){
            @include clearfix;
            float: none;
            margin-bottom: 8px;
        }
    }
    .user__login{
        @include respond-to(mobile){
            position: static;
            float: right;
            // padding: 14px 20px;
            @include transform(translate(0, 0));
        }
        @include respond-to(extraSmall-screens){
            position: static;
            float: right;
            // padding: 14px 20px;
            @include transform(translate(0, 0));
        }
    }
    .user__login_link{
        font-size: 12px;
    }
}
@include respond-to(small-screens){
    .contacts__content_list{
        font-size: 17px;
        padding: 10px 7px;
    }
    .phone__inner_link{
        margin-left: 19px
    }
    .contacts__inner-span:before{
        left: -22px;
    }
    .lifecell-logo{
        &:before{
            @include get-sprite($misc-sprite, lifecell-logo-middle);
        }
    }
    .kievstar-logo{
        &:before{
            @include get-sprite($misc-sprite, kievstar-logo-middle);
        }
    }
    .vodafone-logo{
        &:before{
            @include get-sprite($misc-sprite, vodafone-logo-middle);
        }
    }
}
@include respond-to(medium-screens){
    .contacts__content_list{
        font-size: 19px;
        padding: 10px 7px;
    }
    .phone__inner_link{
        margin-left: 19px
    }
    .contacts__inner-span:before{
        left: -22px;
    }
    .lifecell-logo{
        &:before{
            @include get-sprite($misc-sprite, lifecell-logo-middle);
        }
    }
    .kievstar-logo{
        &:before{
            @include get-sprite($misc-sprite, kievstar-logo-middle);
        }
    }
    .vodafone-logo{
        &:before{
            @include get-sprite($misc-sprite, vodafone-logo-middle);
        }
    }
}