.cbp-hrmenu{
    border-radius: 0;
    margin-bottom: 0;
    // .cbp-hrsub {
    //     display: block !important;
    // }
    
    .container{
        @include respond-to(mobile){
            padding: 0;
        }
        @include respond-to(extraSmall-screens){
            padding: 0;
        }
    }
    .all__categories{
        display: none;
        @media screen and (max-width: 1023px) and (min-width: 768px){
            display: block;
        }
        @include respond-to(extraSmall-screens){
            display: block;
        }
        @include respond-to(mobile){
            display: block;
        } 
    }
}
.nav__item_dropdown .sf-with-ul{
    padding-right: 44px;
    padding-left: 30px;
    @include respond-to(small-screens){
        padding-right: 25px;
        padding-left: 10px;
    }
    @include respond-to(medium-screens){
        padding-right: 35px;
        padding-left: 20px;
    }
}
.navigation{
    background: $nav-bg;
    border: none;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(166, 18, 11, 1);
    -moz-box-shadow:    0px 3px 0px 0px rgba(166, 18, 11, 1);
    box-shadow:         0px 3px 0px 0px rgba(166, 18, 11, 1);
    .logo,
    .user__login,
    .contacts{
        display: none;
    }
}
.nav__list>li>a{
    padding: 10px 24px;
    @include respond-to(small-screens){
        padding: 10px 10px;
    }
    @include respond-to(medium-screens){
        padding: 10px 15px;
    }
}
.cbp-hrmenu .nav__list>li>a{
    display: block;
    border-right: 1px solid #c1150d;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;
    font-stretch: ultra-condensed;
    text-align: center;
    // font-family: arial;
    position: relative;
    -webkit-box-shadow: 1px 0px 1px 0px rgba(255, 255, 255, 0.4);
    -moz-box-shadow:    1px 0px 1px 0px rgba(255, 255, 255, 0.4);
    box-shadow:         1px 0px 1px 0px rgba(255, 255, 255, 0.4);
    @media screen and (max-width: 1023px) and (min-width: 768px){
        border-right: none;
    }
    @include respond-to(mobile){
        border-right: none;
    } 
    @include respond-to(extraSmall-screens){
        border-right: none;
    }

    &:hover{
        color: #ffffff;
        text-decoration: none;
        background: #ce1d1b;
    }
    .nav__span_arrow{
        position: absolute;
        top: 50%;
        margin-top: -8px;
        display: block;
        @include get-sprite($misc-sprite, nav_arrow);
        @include transform(translate(50%, 50%));
        right: 1.6em;
        @media screen and (max-width: 1023px) and (min-width: 768px){
            @include get-sprite($misc-sprite, nav_arrow_mob);
            margin-top: -15px;
        }
        @include respond-to(mobile){
            @include get-sprite($misc-sprite, nav_arrow_mob);
            margin-top: -15px;
        } 
        @include respond-to(extraSmall-screens){
            @include get-sprite($misc-sprite, nav_arrow_mob);
            margin-top: -15px;
        }
        @include respond-to(small-screens){
            right: 0.8em;
        }
        @include respond-to(medium-screens){
            right: 1em;
        }
    }
}
.wf-helioscondregular-n4-active .nav__list>li>a{
    font-size: 18px;
    padding: 10px 21px;
    font-stretch: normal;
    &.sf-with-ul{
        padding-right: 35px;
        padding-left: 30px;
    }
}
.cbp-hrmenu .nav__list>li{
    @include inlineblock(middle);
    &:last-child{
        a{
            border-right: none;
            box-shadow: none;
        }
    }
}

.nav__item_dropdown.cbp-hropen{
    .nav__link{
        position: relative;
    }
}
.nav__list{
    font-size: 0;
    @media screen and (max-width: 1023px) and (min-width: 768px){
        display: none;
        border-top: 1px solid $main-color;
    }
    @include respond-to(mobile){
        display: none;
        border-top: 1px solid $main-color;
    } 
    @include respond-to(extraSmall-screens){
        display: none;
        border-top: 1px solid $main-color;
    }
}
.cbp-hrmenu .cbp-hrsub-inner {
    padding: 20px 30px;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
    display: none;
    position: absolute;
    background: $main-color;
    // width: 100%;
    // left: 15px;
    border: 1px solid rgba(0,0,0,.15);
}

.cbp-hropen .cbp-hrsub {
  padding-bottom: 2em;
}

.cbp-hrmenu .cbp-hrsub-content > ul {
  padding: 0 2em 0;
}
.cbp-hrsub-inner,
.cbp-hrsub-content{
    @include clearfix;
}
.cbp-hrsub-inner{
    position: relative;
}
.cbp-hrmenu .cbp-hrsub-inner > div a {
  line-height: 1.5em;
  display: block;
  @include respond-to(wide-screens){
    padding: 9px 15px;
  }
  @media screen and (max-width: 1199px) and (min-width: 1024px){
    padding: 9px 15px;
  }
  &:hover{
    background: #063255;
    color: $main-color;
    @media screen and (max-width: 1023px) and (min-width: 320px){
        background: transparent;
        color: #0a2e4c;
    }
  }
}
.navigation{
    .inner__title{
       font-size: 18px; 
       color: $text-color;
    }
    .inner__title_list,
    .inner__title_item{
        @include inlineblock(middle);
    }
    .inner__title_text{
        @include inlineblock(middle);
        margin-right: 5px;
    }
    .inner__title_item{
        margin-right: 14px;
        &:last-child{
            margin-right: 14px;  
        }
    }
    .inner__title{
        border-bottom: 1px solid #858e95;
    }
    .inner__title_link{
        &:hover,
        &:focus,
        &:active{
            color: darken($text-color, 10%);
        }
    }
    .dropdown-menu_content{
        padding: 12px 15px !important;
    }
    .inner__title{
        padding-bottom: 5px;
        margin-bottom: 23px;
    }
    .item__title_link{
        color: $title-color-black;
        .item__title_text{
            font-size: 19px;
            font-family: "HeliosCondRegular", arial;
        }
     
    }
    .collumn__item_link {
        font-size: 18px;
        color: #0a2e4c;
        display: block;
        &:hover,
        &:focus,
        &:active{
            color: darken(#0a2e4c, 10%);
        }
    }
    .navbar-header{
        position: relative;
         @media screen and (max-width: 1023px) and (min-width: 768px){
           float: none;
        }
        b{
            display: block;
            line-height: 50px;
            color: $main-color;
            font-size: 24px;
            padding: 0 15px;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            @include respond-to(mobile){
                font-size: 22px;
            } 
        }
    }
    .nav__list{
        margin: 0;
        .nav__item{
            @media screen and (max-width: 1023px) and (min-width: 768px){
                border-bottom: 1px solid #fff;
                &:last-child{
                    border-bottom: none;
                }
            }
            @include respond-to(mobile){
                border-bottom: 1px solid #fff;
                &:last-child{
                    border-bottom: none;
                }
            }
            @include respond-to(extraSmall-screens){
                border-bottom: 1px solid #fff;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }

}
.menu-hidden{
    &:hover{
        cursor: pointer;
    }
}
.toggle-mnu,
.toggle-search{
    display: none;
    @media screen and (max-width: 1023px) and (min-width: 768px){
        display: block;
        position: absolute;
        top: 50%;
        z-index: 3;
        @include transform(translate(0, -50%));
    }
    @include respond-to(mobile){
        display: block;
        position: absolute;
        top: 50%;
        z-index: 3;
        @include transform(translate(0, -50%));
    } 
    @include respond-to(extraSmall-screens){
        display: block;
        position: absolute;
        top: 50%;
        z-index: 3;
        @include transform(translate(0, -50%));
    }
}
.toggle-mnu{
    @include get-sprite($misc-sprite, toggle-mnu);
    @media screen and (max-width: 1023px) and (min-width: 768px){
        left: 15px;
    }
    @include respond-to(mobile){
        left: 30px;
    } 
    @include respond-to(extraSmall-screens){
        left: 30px;
    }
}
.toggle-search{
    @include get-sprite($misc-sprite, toggle-search);
    @media screen and (max-width: 1023px) and (min-width: 768px){
        right: 15px;
    }
    @include respond-to(mobile){
        right: 30px;
    } 
    @include respond-to(extraSmall-screens){
        right: 30px;
    }
}
@media screen and (max-width: 52.75em) {

  .cbp-hrmenu {
    font-size: 80%;
  }
}


@include respond-to(mobile){
    #product-cat{
        height: 200px;
        overflow: hidden;
    }
    .cbp-hrmenu .cbp-hrsub-content > ul{
        width: 100%;
        float: none;
        padding: 0 2em;
        margin-left: 0;
        margin-right: 0;
        .col-md-4{
            padding-right: 0;
            padding-left: 0;
        }
    }
    .inner__title{
        display: none;
    }
    .cbp-hrmenu {
        font-size: 120%;
        border: none;
    }
    .cbp-hrmenu .cbp-hrsub {
        left: 0;
    }

    .cbp-hrmenu .cbp-hrsub-content > ul{
        width: 100%;
        padding: 0;
    }

    .cbp-hrmenu .cbp-hrsub-inner {
        padding: 0 2em;
        font-size: 75%;
    }

    .cbp-hrmenu .nav__list>li{ 
        display: block;
    // border-bottom: 4px solid #47a3da;
    }

    .cbp-hrmenu .nav__list>li>a{
        display: block;
        padding: 1em 1em;
        text-align: left;
    }

    .cbp-hrmenu .cbp-hrsub {
        position: relative;
    }
    .cbp-hrsub-content .collumn{
        border-bottom: 1px solid #9a9fa3;
        &:last-child{
            border-bottom: none;
        } 
    }
    .navigation .collumn{
        padding: 15px;
        margin-bottom: 0;
    }
    .item__title_text{
        font-size: em(21px);
        position: relative;
        &:after{
            content:"";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            @include get-sprite($misc-sprite, cbp-hrsub-arrow);
        }
    }
    .navigation .item__title_link{
        color: #0a2e4c;
    }
    .cbp-hrmenu .nav__list .nav__item_dropdown.cbp-hropen>a{
        .nav__span_arrow{
            @include get-sprite($misc-sprite, nav_arrow_mob_up);
        }
    }
 
}

@include respond-to(extraSmall-screens){
    #product-cat{
        height: 200px;
        overflow: hidden;
    }
    .cbp-hrsub-content>ul{
        padding: 15px;
        border-bottom: 1px solid #9a9fa3;
        margin-left: 0;
        margin-right: 0;
        .col-md-4{
            padding-right: 0;
            padding-left: 0;
        }
        &:last-child{
            border-bottom: none;
        } 
    }
    .navigation .collumn{
        padding: 15px;
        margin-bottom: 0;
    }
    .navigation .item__title_link{
        color: #0a2e4c;
    }
    .item__title_text{
        font-size: em(21px);
        position: relative;
        &:after{
            content:"";
            display: block;
            position: absolute;
            right: 0;
            top: 0px;
            @include get-sprite($misc-sprite, cbp-hrsub-arrow);
        }
    }
    .cbp-hrsub-content .collumn{
        border-bottom: 1px solid #9a9fa3;
        &:last-child{
            border-bottom: none;
        } 
    }
    .inner__title{
        display: none;
    }
    .cbp-hrmenu {
        font-size: 120%;
        border: none;
    }
    .cbp-hrmenu .cbp-hrsub {
        left: 0;
    }

    .cbp-hrmenu .cbp-hrsub-content > ul{
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        .col-md-4{
            padding-right: 0;
            padding-left: 0;
        }
    }

    .cbp-hrmenu .cbp-hrsub-inner {
        padding: 0 2em;
        font-size: 75%;
    }

    .cbp-hrmenu .nav__list>li{ 
        display: block;
    // border-bottom: 4px solid #47a3da;
    }

    .cbp-hrmenu .nav__list>li>a{
        display: block;
        padding: 1em 1em;
        text-align: left;
    }

    .cbp-hrmenu .cbp-hrsub {
        position: relative;
    }
    .cbp-hrmenu .nav__list .nav__item_dropdown.cbp-hropen>a{
        .nav__span_arrow{
            @include get-sprite($misc-sprite, nav_arrow_mob_up);
        }
    }
  // .cbp-hrsub h4 {
  //   padding-top: 0.6em;
  // }
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    // .cbp-hrmenu .cbp-hrsub-content > ul{
    //     width: 100%;
    //     float: none;
    //     padding: 0 2em;
    // }
    .inner__title{
        display: none;
    }
    .cbp-hrmenu {
        font-size: 120%;
        border: none;
    }
    .cbp-hrmenu .cbp-hrsub {
        left: 0;
    }

    .cbp-hrmenu .cbp-hrsub-content > ul{
        width: 100%;
        padding: 0;
        float: none;
        margin-right: 0;
        margin-left: 0;
        .col-md-4{
            padding-right: 0;
            padding-left: 0;
        }
    }

    .cbp-hrmenu .cbp-hrsub-inner {
        padding: 0 2em;
        font-size: 75%;
    }

    .cbp-hrmenu .nav__list>li{ 
        display: block;
    // border-bottom: 4px solid #47a3da;
    }

    .cbp-hrmenu .nav__list>li>a{
        display: block;
        padding: 1em 1em;
        text-align: left;
    }

    .cbp-hrmenu .cbp-hrsub {
        position: relative;
    }
    .cbp-hrsub-content .collumn{
        border-bottom: 1px solid #9a9fa3;
        &:last-child{
            border-bottom: none;
        } 
    }
    .navigation .collumn{
        padding: 15px;
        margin-bottom: 0;
    }
    .item__title_text{
        font-size: em(21px);
        position: relative;
        &:after{
            content:"";
            display: block;
            position: absolute;
            right: 0;
            top: 0px;
            @include get-sprite($misc-sprite, cbp-hrsub-arrow);
        }
    }
    .navigation .item__title_link{
        color: #0a2e4c;
    }
    .navigation .container{
        width: 100%;
        padding: 0;
    }
    #product-cat{
        div{
            display: none;
            &:first-child{
                display: block;
            }
        }
    }
}

