 .page__pagination{
    text-align: center;
    display: block;
    border-bottom: 1px solid $product-border-color;
    padding: 16px 0;

    .page__pagination_list{
        @include inlineblock();
    }

    .page__pagination_item{
        width: 33px;
        height: 26px;
        @include inlineblock();
        @include border-radius(3px);
        position: relative;
        overflow: hidden;
        &.active{
            .pagination__mark{
                font-size: 24px;
                color: #da251c;
            }
        }
    }

    .page__pagination_link{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: #ffffff;
    }

    .pagination__mark{
        @include absolute-center;
        line-height: 26px;
        text-align: center;
        font-family: 'HeliosCondBold', arial;
        font-size: 22px;
        color: rgba(9, 46, 74, 0.5);
    }
    .pagination__item_prev{
        .pagination__mark{
        @include get-sprite($misc-sprite, catalog_pagination_prew);
        }
    }

    .pagination__item_next{
        .pagination__mark{
        @include get-sprite($misc-sprite, catalog_pagination_next);
        }
    }
}
