.projects{
	.section__wrapper{
		padding: 50px 0;
	}
	.section__content{
		position: relative;
		border-bottom: 3px solid #0d014d;
		padding-bottom: 63px;
		@media screen and (max-width:650px) and (min-width: 320px){
			padding: 0 15px 63px;
		} 
	}
	.section__title_text{
		margin-bottom: 28px;
	}
	.section__slick_projects{
		margin-left: -30px;
		padding: 0 30px;
		@include respond-to(mobile){
			margin-left: 0;
			padding: 0;
		} 
	}
	.paginations{
		top: 40%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		@media screen and (max-width:650px) and (min-width: 320px){
			top: 28%;
		}
	}
	.slick__projects_item{
    	margin-left: 30px; 
    	outline: none;
    	@include respond-to(mobile){
    		margin-left: 0; 
    	}
    	a{
    		color: $title-color-blue;
    		display: block;
			&:hover{
				color: lighten($title-color-blue, 10%);
			}
    	}
	}
	.projects__item_title{
		height: 70px;
		overflow: hidden;
		padding-bottom: 20px
	}
	.project__item_text{
		color: $text-color;
		font-family: 'Arial';
	}
	.item_title_text{
		font-size: em(21px);
	}
	.projects_item_link{
		width: 100%; 
		height: 355px;
		display: block;
		overflow: hidden;
		margin-bottom: 20px;
	}
	.projects__item_image{
		height: 355px;
		width: auto; 
	}

	@include respond-to(mobile){
		.projects_item_link{
			width: 80%;
			margin: 0 auto 20px;
		}
		.projects__item_title,
		.project__item_text{
			width: 80%;
			margin: 0 auto;
		}
	} 
}

.projects__button_prev{
	@include get-sprite($misc-sprite, advantages_arrow_prew);
	left: 0;
	@media screen and (max-width:650px) and (min-width: 320px){
	    @include get-sprite($misc-sprite, slick_arrow_prev_mob);
    	left: 0;
	}
}
.projects__button_next {
	@include get-sprite($misc-sprite, advantages_arrow_next);
	right: 0;
	@media screen and (max-width: 650px) and (min-width: 320px){
	    @include get-sprite($misc-sprite, slick_arrow_next_mob);
    	right: 0;
	}
}