.products__list,
.products__list_grid,
.products__list_rows{
	font-size: 0;
	.products__item{
		font-size: 16px;
		&:hover{
	        cursor: pointer;
		}
	}
	.products__title_link{
		font-size: em(17px);
		color: $title-color-blue;
		font-family: 'PTSansBold', sans-serif;
		line-height: 20px;
		&:hover{
			color: $accent-color;
		}
	}
	.products__item-inner{
		position: relative;
	}
	.products__link{
		display: block;
		text-align: center;
		height: 185px;
		position: relative;
		overflow: hidden;
	}
	.products__img{
		@include absolute-center;
	}

	.products__rating-stars-item{
	    @include get-sprite($misc-sprite, empty);

	    &.products__rating-stars-item_filed{
	        @include get-sprite($misc-sprite, filled);
	    }
	}
	.products__reviews{
		float: right;
		color: #929292;
	}
	.products__info{
	 	font-size: 0;
	}
	.products__price{
		font-size: 16px;
	}
	.products__price_old{
		text-decoration: line-through;
		color: $accent-color;
		font-size: em(14px);
	}
	.products__price_new{
		color: $title-color-blue;
		font-family: 'PTSansBold', sans-serif;
		font-size: em(18px);
		@media screen and (max-width: 352px) and (min-width: 320px){
			font-size: em(17px);
		}
	}
	.products__price_eur{
		color: #aeaeae;
	}
	.products__buy-btn{
		float: right;
	}
	.products__desc_title{
		font-size: em(16px);
		color:  $title-color-blue;
		margin-bottom: 5px;
	}
	.visible-xs-grid{
		display: none;
	}
	.product-buy__buttons{
		@include clearfix;
	}
}

.products__list,
.products__list_grid{
	position: relative;
	&:after{
		content: "";
		display: block;
		position: absolute;
		width: 2px;
		height: 100%;
		background: #fff;
		right: 0;
		top: 0;
	}
	.products__item{
	    @include inlineblock();
	    width: 33.33333333%;
		position: relative;
		height: 395px;
	    &:hover{
	    	.products__item_long{
	    		width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				min-height: 570px;
				z-index: 10;
				background: #fff;
				border: 1px solid #5f6b74;
				-webkit-box-shadow: 0px 5px 54px 0px rgba(0, 0, 0, 0.73);
				-moz-box-shadow:    0px 5px 54px 0px rgba(0, 0, 0, 0.73);
				box-shadow:         0px 5px 54px 0px rgba(0, 0, 0, 0.73);
				@include transition(all 0.2s);
			}
		}
	}

	.products__item_long{
		border: 1px solid transparent;
		border-right: 1px solid $product-border-color;
	    border-bottom: 1px solid $product-border-color;
	}
	.over__wraper{
		height: 100%;
		overflow: hidden;
		&:hover{
			overflow: visible;
		}
	}

	.product__title{
		height: 80px;
		overflow: hidden;
	}
	.products__item-inner{
		position: relative;
		padding: 15px 20px 0 12px;
	}
	.products__img_wrap{
		padding-bottom: 12px; 
		border-bottom: 1px solid $product-border-color;
	}

	.products__info{
		display: table;
		width: 100%;
	 	padding: 0 14px;
	}
	.products__price{
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		height: 75px;
	}
	.products__info-button{
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		font-size: 16px;
		height: 75px;
	}
	.products__label_content{
	    top: 80px;
	    margin-bottom: 5px;
	}
	.detail__tools{
		display: none;
	}
	.products__right{
		.products__desc{
			border-top: 1px solid $product-border-color;
			color: $title-color-blue;
			padding: 8px 14px 15px;
		}
		.products__desc_title{
			text-align: center;
		}
		.productcs__desc-options{
			height: 103px;
			overflow: hidden;
			margin-bottom: 5px;
		}
		.productcs__option-item{
			display: block;
			@include clearfix;
			border-bottom: 1px dotted $title-color-blue;
			line-height: 25px;
			&:last-child{
				border-bottom: none;
			}
		}
		.productcs__option-key{
			float: left;
			text-align: left;
			font-size: em(12px);
		}
		.productcs__option-value{
			float: right;
			text-align: right;
			font-size: em(14px);
			font-family: 'PTSansBold', sans-serif;
		}
		.products__availability{
			display: none;
		}
		.productcs__desc_link{
			color: $nav-bg;
			text-decoration: underline;
			font-size: em(14px);
			@include inlineblock(middle);
			&:hover,
			&:focus,
			&:active{
				color: lighten($nav-bg, 10%);
				text-decoration: underline;
			}
			&:after{
				content: '>';
				@include inlineblock(middle);
				margin-left: 3px;
			}
		}
	}
	.products__buy-btn{
		padding: 5px 11px;
		@media screen and (max-width: 352px) and (min-width: 320px){
			padding: 5px 8px;
		}
	}

	@include respond-to(mobile){
		.products__buy-span{
			display: none;
		}
		.products__title_link{
			font-size: em(16px);
			font-family: "PTSansRegular", sans-serif;
			line-height: 18px;
		}
		.products__link{
			height: 125px;
		}
		.products__img{
			max-height: 100%;
		}
		.products__price{
			width: 80%;
		}
		.products__info-button{
			width: 20%;
		}
		.products__img_wrap{
			padding-bottom: 0;
			// padding-top: 18px;
			border: none;
		}
		.products__item-inner{
			padding: 0 15px;
		}
		.product__title{
			height: 56px;
			line-height: 18px;
		}
		.products__label_content{
			top: -90px;
			@include transform(translate(0, -100%));
		}
		.product_ective-element{
			font-size: 13px;
		}		
		.products__rating-stars-item{
		    @include get-sprite($misc-sprite, empty_xs);
		    &.products__rating-stars-item_filed{
		        @include get-sprite($misc-sprite, filled_xs);
		    }
		}
		.products__price,
		.products__info-button{
			height: 61px;
		}
		.products__item{
			height: 300px;
		}
		.products__desc{
			display: none;
		}
		.products__item:hover .products__item_long{
			min-height: 300px;
			overflow: hidden;
		}
		.products__left{
			padding-top: 18px;
		}
		.hidden-xs-grid{
			display: none;
		}
		.visible-xs-grid{
			display: block;
		}
	} 
	@include respond-to(extraSmall-screens){
		.hidden-xs-grid{
			display: none;
		}
		.visible-xs-grid{
			display: block;
		}
		.products__buy-span{
			display: none;
		}
		.products__title_link{
			// font-size: em(16px);
			// font-family: "PTSansRegular", sans-serif;
			// line-height: 18px;
		}
		.products__link{
			height: 125px;
		}
		.products__img{
			max-height: 100%;
		}
		.products__price{
			width: 80%;
		}
		.products__info-button{
			width: 20%;
		}
		.products__img_wrap{
			padding-bottom: 0;
			// padding-top: 18px;
			border: none;
		}
		// .products__item-inner{
		// 	padding: 0 15px;
		// }
		.product__title{
			height: 65px;
		}
		.products__label_content{
			top: -90px;
			@include transform(translate(0, -100%));
		}
		.product_ective-element{
			font-size: 13px;
		}
		.products__rating-stars-item{
		    @include get-sprite($misc-sprite, empty_xs);
		    &.products__rating-stars-item_filed{
		        @include get-sprite($misc-sprite, filled_xs);
		    }
		}
		.products__price,
		.products__info-button{
			height: 61px;
		}
		.products__item{
			height: 318px;
		}
		.products__desc{
			display: none;
		}
		.products__item:hover .products__item_long{
			min-height: 318px;
			overflow: hidden;
		}
		.products__left{
			padding-top: 16px;
		}
	}
}

/* --------- other views-------- */
@import "../_views/_rows-view";