// PRODUCT INFO BLOCK START
.detail__main_col{
    margin-bottom: 30px;
    @include clearfix;
}
.product__left_collumn{
    width: 870px;
    float: left;
}
.product__right__collumn{
    width: 285px;
    float: right;

}
.price__wrap{
    padding: 15px;
    background:  $main-color;
    border: 1px solid #cdd3d7;
    @include border-radius(3px);
    -webkit-box-shadow: -2px 1px 6px 0px rgba(227, 227, 227, 1), 1px -2px 6px 0px rgba(227, 227, 227, 1);
    -moz-box-shadow:    -2px 1px 6px 0px rgba(227, 227, 227, 1), 1px -2px 6px 0px rgba(227, 227, 227, 1);
    box-shadow:         -2px 1px 6px 0px rgba(227, 227, 227, 1), 1px -2px 6px 0px rgba(227, 227, 227, 1);
}

.tab__content{
    margin-bottom: 15px;
    @include clearfix;
}

.product__description_content{
    color: $title-color-blue;
    font-size: em(16px);
    line-height: 20px;
    font-family: "Arial", sans-serif;
}

.description_list{
    margin-bottom: 10px;
    // padding: 0 15px;
    .description_item{
        @include clearfix;
        line-height: 34px;
        // margin-bottom: 8px;
        border-bottom: 1px dotted $title-color-blue;
        // @include respond-to(mobile){
        //     font-size: em(12px);
        //     margin-bottom: 5px;
        // }
        // @include respond-to(extraSmall-screens){
        //     font-size: em(14px);
        // }
        // @include respond-to(small-screens){
        //     font-size: em(16px);
        // }
        // @include respond-to(medium-screens){
        //     font-size: em(16px);
        // }
    }
}
.description_item{
    div{
        // padding: 6px 0;
        &:first-child{
            float: left;
        }
        &:last-child{
            float: right;
            // font-family: "HeliosCondBold", arial;
        }
    }
    p{
        font-family: OpenSans, sans-serif;
        font-size: 18px;
        color: $title-color-blue;
        margin-bottom: 30px;
    }
    h2, h3, h4, h5{
        font-family: OpenSansBold, sans-serif;
        margin-bottom: 10px;
    }
}

.product__description_link{
    display: block;
    color: $nav-bg;
    font-size: em(14px);
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus{
        color: darken($nav-bg, 5%);
        text-decoration: underline;
    }
    &:after{
        content:">";
        @include inlineblock(middle);
        margin-left: 5px;
    }
}
.description_text{
    margin-bottom: 5px;
}
// RIGHT COLLUMN
.produt__price{
    @include clearfix;
}
.current__price,
.produt__label_price{
    color: $title-color-blue;
    line-height: 25px;
    white-space: nowrap
}
.produt__label_price{
    font-size: em(32px);
    margin-right: 30px;
}
.current__price{
    font-size: em(26px);
    font-family: "HeliosCondBold", arial;

}
.old__price{
    text-decoration: line-through;
    color: $accent-color;
}
.current__price_eur{
    color: #4c4c4c;
    span{
        text-transform: uppercase;
    }
}

.product__page{
    .products__buy-btn{
        @include inlineblock();
        font-size: 21px;
        height: 38px;
        line-height: 38px;
        padding: 0 36px;
    }
    .products__buy-span{
        &:before{
            @include get-sprite($misc-sprite, catalog_cart-lg);
        }
    }
    .product-buy__btn--in-cart{
        display: block;
        float: right;
        padding: 7px 35px;
        .products__buy-content{
            &:before{
                display: none;
            }
        }
    }
}
.produt__funcs-buttons{
    margin-bottom: 10px;
}
.product__code{
    float: left;
    border: none;
    padding: 11px 22px;
    font-size: 0;
}

.product__code_span{
    @include inlineblock(middle);
    color: #4c4c4c;
}
.wf-helioscondregular-n4-active .product__code{
    font-size: 14px;
    border: 1px solid #cdd3d7;
}
.product__page{
    .product__raiting_block{
        @include clearfix;
        padding: 12px 14px;
        margin-bottom: 20px;
    }
    .product_ective-element{
        @include clearfix;
        @include inlineblock(middle);
        padding: 0;
    }
    .products__raiting{
        @include inlineblock(middle);
        margin-right: 10px;
    }
    .products__rating-stars-item{
        @include get-sprite($misc-sprite, empty_xs);

        &.products__rating-stars-item_filed{
            @include get-sprite($misc-sprite, filled_xs);
        }
    }
    .products__reviews{
        @include inlineblock(middle);
        font-size: 12px;
    }
    // .detail__tools_link{
    //     color: #0054a6;
    //     text-decoration: underline;
    //     @include inlineblock(middle);
    //     // font-size: em(14px);
    // }
}
.buy__click{
    font-size: 16px;
}
.buy__click_form-input{
    border: 1px solid #204664;
    padding: 12px 10px;
    width: 164px;
    margin-right: -6px;
    font-size: 16px;
    vertical-align: top;
    outline: none;
}
.buy__click_form-input::-webkit-input-placeholder{ 
    opacity: 0.5;
}
.buy__click_form-input:-moz-placeholder{
     opacity: 0.5;
}
.buy__click_form-input:-ms-input-placeholder{ 
      opacity: 0.5;
}

.buy__click_btn-wrap{
    width: 175px;
    height: 44px;
    position: relative;
    @include inlineblock(top);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.buy__click_form-submit{
    vertical-align: top;
    width: 175px;
    height: 44px;
    color: #ffffff;
    font-family: "HeliosCondBold", arial;
    background: transparent;
    border: 1px solid #204664;
    position: relative;
    z-index: 3;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: none;
}
.order_by_click{
    .button-bg{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
.buy__click_form-input::-webkit-input-placeholder{ 
    color: #083354;
    font-size: 16px;
    font-weight: normal;
}
.buy__click_form-input:-moz-placeholder{
    color: #083354;
    font-size: 16px;
    font-weight: normal;
}
.buy__click_form-input:-ms-input-placeholder{ 
    color: #083354;
    font-size: 16px;
    font-weight: normal;
}

// .product_info_block{
//     padding: 16px 12px 21px;
//     border: 1px solid #ebebeb;
//     box-sizing: border-box;
//     text-align: center;
//     font-size: em(18px);
//     color: #083354;
//     background: #fafafa;
//     margin-bottom: 22px;
// }
// .product_info_content{
//     margin-bottom: 14px;
// }
// .info__block_title {
//     color: #da261d;     
//     margin-bottom: 5px;
// }
.calculate_btn{
    @extend .submit__btn_accent;
    background: $green-color;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(3, 141, 3, 1);
    -moz-box-shadow:    0px 3px 0px 0px rgba(3, 141, 3, 1);
    box-shadow:         0px 3px 0px 0px rgba(3, 141, 3, 1);
    font-size: 18px;
    font-family: "HeliosCondBold", arial;
    padding: 9px;
    &:hover, &:active, &:focus{
        color: $main-color;
    }
    &:hover{
        background: darken($green-color, 5%);
    }
    &:active{
        background: darken($green-color, 5%);
    }
}
.calculate_btn_span{
    @include inlineblock();
    &:before{
        content: '';
        @include inlineblock();
        margin-right: 10px;
        @include get-sprite($misc-sprite, icon_credit);
        margin-top: 3px;
    }
}
.detail__tools{
    // @include inlineblock(middle);
    // font-size: 0;
    display: table;

}
.detail__tools_item{
    // @include inlineblock(middle);
    // font-size: 14px;
    // width: 25%;
    // margin-right: 40px;
    // &:last-child{
    //     margin-right: 0;
    // }
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.5em;
    // .product_ective-element,
    // .detail__tools_link{
    //     padding: 0 15px;
    // }
    .detail__tools_link{
        color: #0054a6;
        text-decoration: underline;
        display: block;
        &:before{
            content: "";
            @include inlineblock(middle);
            margin-right: 10px;
        }
    }
    .add__review{
        &:before{
            @include get-sprite($misc-sprite, add_review_blue);
        } 
    }
    .addfavorite{
        &:before{
            @include get-sprite($misc-sprite, favorite_blue);
        }   
    }
    .addcompare{
        &:before{
            @include get-sprite($misc-sprite, compare_blue);
        }
    }
    .detail__tools_span{
        @include inlineblock();
        text-decoration: underline;
    }
}
// PRODUCT INFO BLOCK END

// RELATED PRODUCT START
.detail__related_products{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 19px;
    .paginations{
        z-index: 100;
    }
}
.related__products_header{
    border-bottom: 1px solid #e6e6e6;
}
    
.related__products_title{
    width: 375px;
    border-bottom: 1px solid #da251c;
    padding-bottom: 7px;
    font-size: em(28px);
    color: $title-color-blue;
}
.related__products{
    padding-top: 12px;
}
.related__products_list{
    padding: 0 10px;
    font-size: 0;
}
.related__products_item{
    font-size: 16px;
    @include inlineblock(top);
}
.products_item{
    width: 22%;
}
.detail__related_products{
    .products__label_content{
        top: 50%;
    }

}
.related__products_link{
    display: block;
    text-align: center;
    margin-bottom: 9px;
    height: 200px;
    position: relative;
    overflow: hidden;
    .products__img{
        @include absolute-center;
    }
}
.related__product_title{
    color: $title-color-blue;
    border-bottom: 1px solid #e8e7eb;
    padding-bottom: 15px;
    height: 60px;
    overflow: hidden;
}
.related__products_price{
    @include clearfix;
    padding: 12px 0 6px;

    .products__price_item{
        min-width: 107px;
        float: left;
        span{
            text-align: left;
        }
    }
    .products__price_old{
        float: left;
    }
}
.products__price_old{
    text-decoration: line-through;
    color: #da251c; 
}
.products__price_new{
    color: $title-color-blue;
    font-family: "HeliosCondBold", arial;
    font-size: em(18px);
    line-height: 20px;
}
.products__price_eur{
    color: #aeaeae;
}
.related__product_span{
    line-height: 200px;
    font-size: 65px;
    color: #da261d;
    text-align: center;
}

.related__price_item{
    .products__info{
        margin-left: 1.6em;
        margin-top: 4.5em;
    }
    .products__price{
        padding: 5px 25px 5px;
    }
    .products__price_old{
        font-size: 19px;
    }
    .products__price_new{
        font-size: 22px;
    }
    .products__price_eur{
        font-size: 17px;
    }
    .products__buy-btn{
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        // padding: 8px 35px;
        @include inlineblock();
        .products__buy-span{
            &:before{
                @include get-sprite($misc-sprite, catalog_cart-lg);
            }
        }
    }
}
.detail__related_products{
    .related__products_prev{
        @include get-sprite($misc-sprite, related_arrow_prew);
    }
    .related__products_next{
        @include get-sprite($misc-sprite, related_arrow_next);
    }
    .slick-slider{
        margin-bottom: 20px;
    }
}
// RELATED PRODUCT END


// PRODUCT DESCRIPTION START 
.description__product_block{
    margin-bottom: 22px;
    .description_item{
        &:last-child{
            border-bottom: none;
        }
    }
}
.description_main_col-left{
   .product__description{
        border-bottom: none;
    }
}
.product_characteristics h3{
    margin-bottom: 16px; 
}
.description_text p,
.delivery__text p{
    color: #4c475a;
}
.delivery__text_title h3{
    color: #083354;
}
.description_text p{
    margin-bottom: 15px;
}


// PRODUCT DESCRIPTION END

// INFOBLOCK START
.product_info_block-item{
    font-size: em(18px);
    color: #083354;
    border-bottom: 1px solid #cdd3d7;
    &.active{
        .info__block_title-text{
            &:before{
                @include get-sprite($misc-sprite, product_info_arrow_down);
            }
        }
    }
}
.product_info_block-title{
    padding: 10px 0;
    &:hover{
        cursor: pointer;
    }
}
.info__block_title-text{
    margin-left: 28px;
    position: relative;
    &:before{
        content: "";
        display: block;
        position: absolute;
        left: -25px;
        @include get-sprite($misc-sprite, product_info_arrow);
        @include transform(translate(0, -50%));
        top: 50%;

    }
}
.product_info_block-content{
    font-size: 15px;
    line-height: 17px;
    display: none;
    padding-bottom: 12px;
}

// INFOBLOCK END

// SHARE START
.description_main_col-right{
    @include clearfix;
}
.socials{
    border-top: 1px solid #fafafa;
    .ya-share2{
        float: right;
    }
}

.socials__content{
    padding: 10px 0;
    float: right;
    @include clearfix;
}
.socials__title{
    font-size: em(18px);
    color: #083354;
    margin-bottom: 8px;
}

// .socials__list{
//     float: right;
// }
// .socials__item{
//     @include inlineblock(middle); 
//     margin-left: 1px;

//     &:first-child{
//         margin-left: 0;
//     }
// }

// .socials__link{
//     display: block;
//     width: 25px;
//     height: 25px;
//     position: relative;
// }

// .socials__icon{
//     @include absolute-center; 
// }

// $socials: vk, fb, tw, gplus;   
// $socials-map: sprite-map('icons/socials/*.png', $spacing: 70px);
// @each $social in $socials {
//     .socials__item_#{$social}{
//         .socials__icon {
//             @include get-sprite($socials-map, $social);
//         }
//     }
// }

// SHARE END

// REVIEWS START

.star-voting__wrap{
    width: 90%;
    margin: 10px auto 27px;
    @include respond-to(mobile){
        width: 100%;
    } 
}

.star-voting__wrap:after {
  content: "";
  display: table;
  clear: both; 
}
.star-voting__ico {
    float: right;
    padding-left: 2px;
    cursor: pointer;
    width: 20%;
    height: 39px; 
    font-size: 13px;
    text-align: center;
    @include respond-to(mobile){
        font-size: 11px;
    }
}
span.rating-text-1,
span.rating-text-2,
span.rating-text-3,
span.rating-text-4,
span.rating-text-5{
  word-wrap:normal;
  white-space: nowrap;
}
.star-voting__ico .svg-icon {
  color: #818181;
}
.star-voting__input {
  display: none; 
}
.star-voting__ico:hover .svg-icon,
.star-voting__ico:hover ~ .star-voting__ico .svg-icon, 
.star-voting__input:checked ~ .star-voting__ico .svg-icon {
  color: #FE3A3E; 
}

/*# sourceMappingURL=star-voting.css.map */

// .comments__review_star-big{
//     @include inlineblock(middle);
//     color: $title-color-blue;
//     font-size: 13px;
//     position: relative;
//     padding: 0 1em;
//     cursor: pointer;
//     &:before{
//         content:"";
//         display: block;
//         @include get-sprite($misc-sprite, review_big_star_empty);
//     }
//     &:hover{
//         color: lighten($title-color-blue, 10%);
//         &:before{
//             @include get-sprite($misc-sprite, review_big_star_filled);
//         }
//     }
// }
// .comments__review_star-big.bad{
//     &:after{
//         content: attr(data-bad);
//         bottom: -20px;
//         position: absolute;
//         left: 13px;
//     }
// }
// .comments__review_star-big.not-nice{
//     &:after{
//         content: attr(data-not-nice);
//         bottom: -20px;
//         position: absolute;
//         left: 10px;
//     }
// }
// .comments__review_star-big.normal{
//     &:after{
//         content: attr(data-normal);
//         bottom: -20px;
//         position: absolute;
//         left: 0;
//     }
// }
// .comments__review_star-big.nice{
//     &:after{
//         content: attr(data-nice);
//         bottom: -20px;
//         position: absolute;
//         left: 12px;
//     }
// }
// .comments__review_star-big.awesome{
//     &:after{
//         content: attr(data-awesome);
//         bottom: -20px;
//         position: absolute;
//         left: 10px;
//     }
// }

.review__submit{
    @include border-radius(3px);
    float: right;
}
.feedback__form-textarea{
    line-height: 1em;
    width: 100%;
    font-size: 21px;
    padding: 15px 10px;
    resize: none;
    border: 1px solid #b9b9b9;
    font-family: "HeliosCondItalic", arial;
    color: #092e4a;
    &:focus{
        outline: none;
    }
}
.product__page{
    .feedback__form-input {
        border: none;
        border-bottom: 1px solid #b9b9b9;
        line-height: 1em;
        width: 100%;
        font-size: 24px;
        padding: 0 10px;
    }
}
.feedback__wrap{
    &:last-child{
        margin-bottom: 15px;
    }
}
.product__reviews{
   .feedback__button{
    text-align: right;
    margin-bottom: 15px;
   }
   .feedback-submit,
   .buy__click_btn-wrap,
   .button-bg{
    @include border-radius(3px);
   }
}

// REVIEWS END
.product__buy{
    border: 1px solid #e8e7eb;
}

.product__buy{
    @include clearfix;
    margin-bottom: 49px;
    table{
        width: 100%;
    }
    table>td>tr{
        vertical-align: middle;
    }
    .product__buy_header{
        // width: 475px;
        width: 40%;
    }
    .product__buy_title{
        border-right: none;
        color: $title-color-blue;
        text-align: center;
        padding: 30px 15px;
        background-color: $main-color;
        font-size: 17px;
    }
    .produt__offer{
        background: #f2f4f6;
        padding: 0 15px;
    }
    .price__buy_content{
        // width: 380px;
        width: 35%;
    }
    .produt__funcs-buttons{
        // width: 300px;
        width: 25%;
        margin-bottom: 0;
    }
    .produt__price{
        @include inlineblock(middle);
        line-height: 25px;
    }
    .produt__price{
        line-height: 18px;
        &:last-child{
            margin: 0 30px;
        }
    }
    .old__price,
    .current__price_eur{
        display: block;
    }

    .produt__count{
        font-size: 0;
    }
    .products__buy-btn{
        // margin-left: 5px;
        margin-left: 0;
        display: block;
        float: right;
    }
    .produt__funcs-buttons{
        .produt__change-count{
            display: none;
        }
    }
    .product-buy__btn--in-cart{
        margin-left: 0;
    }
    .products__buy-content{
        &:before{
            @include get-sprite($misc-sprite, catalog_cart-lg);
        }
    }
    .produt__offer .produt__funcs-buttons{
        width: auto;
    }
}
.buy-btn-wrap{
    float: left;
}
// PRODUCT BUY END
// RECENT PRODUCTS START
.recent__products{
    position: relative;
    margin-bottom: 36px;
}
.related__products_header{
    margin-bottom: 27px;
}

.recent__products{
    .products__list_grid{
        padding: 0 29px;
    }
    .products__list{
        .products__item{
            width: auto;
        }
    }
    .products__buy-btn{
        font-size: 16px;
    }
    .product_ective-element{
        display: block;
    }
    .product_ective-element{
        padding: 0 15px;
    }
}
.recent__products{
    .recent__products_prev{
        @include get-sprite($misc-sprite, related_arrow_prew);
        &:hover{
            opacity: 0.6;
        }
    }
    .recent__products_next{
        @include get-sprite($misc-sprite, related_arrow_next);
        &:hover{
            opacity: 0.6;
        }
    }
}
.similar__products_prev{
    @extend  .recent__products_prev; 
}
.similar__products_next{
    @extend  .recent__products_next; 
}

// TABS START
.tabs__controls_list{
    border-bottom: 1px solid $tabs-color;
    font-size: 0;
    // @include inlineblock();
    margin-bottom: 21px;
}
.tabs__controls_item{
    @include inlineblock();
    border-top:  1px solid $tabs-color;
    border-left: 1px solid $tabs-color;
    &:last-child{
        border-right: 1px solid $tabs-color;
    } 
    &.active,
    &:hover{
        background: #e6eaed;
    }
}
.tabs__controls_link{
    font-size: 18px;
    color: $title-color-blue;
    text-transform: uppercase;
    font-family: "HeliosCondBold", arial;
    padding: 10px 18px;
    display: block;
    &:hover,
    &:focus,
    &:active{
        color: $title-color-blue;
    }
}
.tab__pane{
    display: none;
    &.active{
        display: block;
    }
}
.anchor {
    position: absolute;
    top: -222px;
}
#characteristics,
#description{
    height: 785px;
}

//  PRODUCTS ANCORS  END 
// PRODUCT SLIDESHOW

.products__slideshow-display{
    width: 100%;
    height: 290px;
    background: #ffffff;
    position: relative;
    display: block;
    margin-bottom: 10px;
    background-clip: padding-box;
}
.products__slideshow-img {
    display: block;
    max-width: 95%;
    max-height: 95%;
    @include absolute-center;
}
.products__slideshow-thumbs{
    font-size: 0;
    display: table;
    width: 100%;
    border-top: 1px solid #aeaeae;
    display: none;
}

.products__slideshow-item,
.products__slideshow-link{
    @include inlineblock();
}
.products__slideshow-item{
    width: 33.33333333%;
    opacity: 0.6;
    position: relative;
    &.active{
        opacity: 1;
        &:before,
        &:after{
            content: "";
            display: block;
            position: absolute;
            @include transform(translate(0, -100%));
            left: 50%;
        }
        &:before{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5.5px 6px 5.5px;
            border-color: transparent transparent #aeaeae transparent; 
        }
        &:after{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5.5px 6px 5.5px;
            border-color: transparent transparent #ffffff transparent;
            top: 1px;
        }
    }
}
.products__slideshow-link{
    width: 100%;
    height: 100px;
    background-clip: padding-box;
    margin-bottom: 0;
    position: relative;
}
.products__slideshow-thumbs-img{
    display: block;
    max-width: 95%;
    max-height: 95%;
    @include absolute-center;
}
.product__right_inner{
    .produt__price_buy{
        @include clearfix;
        border-bottom: 1px solid #cdd3d7;
        padding: 3px 0;
        margin-bottom: 11px;
    }
    .price__buy_content{
        float: left;
        width: 49%;
        margin-right: 2%;
    }
    .produt__funcs-buttons{
        float: left;
        width: 49%;
    }
    .produt__change-count{
        margin-right: 7px;
    }
    // .products__buy-btn{
    //     @include border-radius(3px);
    //     background: rgb(199,21,19); 
    //     background: -moz-linear-gradient(top,  rgba(199,21,19,1) 0%, rgba(231,37,27,1) 100%); 
    //     background: -webkit-linear-gradient(top,  rgba(199,21,19,1) 0%,rgba(231,37,27,1) 100%); 
    //     background: linear-gradient(to bottom,  rgba(199,21,19,1) 0%,rgba(231,37,27,1) 100%); 
    // }
    .product__tools_list{
        font-size: 0;
        border-bottom: 1px solid #cdd3d7;
        padding-bottom: 3px;
        margin-bottom: 15px;
    }
    .product__tools_item{
        font-size: 20px;
        @include inlineblock();
        width: 50%;
        margin-bottom: 10px;
    }
    .product__tools_img{
        width: 50px;
        height: 47px;
        position: relative;
        float: left;
        background: rgb(230,230,230); 
        background: -moz-linear-gradient(top,  rgba(230,230,230,1) 0%, rgba(241,241,241,1) 100%); 
        background: -webkit-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(241,241,241,1) 100%);
        background: linear-gradient(to bottom,  rgba(230,230,230,1) 0%,rgba(241,241,241,1) 100%); 
        -webkit-box-shadow: 0px 3px 0px 0px rgba(148, 148, 148, 1);
        -moz-box-shadow:    0px 3px 0px 0px rgba(148, 148, 148, 1);
        box-shadow:         0px 3px 0px 0px rgba(148, 148, 148, 1);
        @include  border-radius(3px);
        border: 1px solid #e0e0e0;
        margin-right: 10px;
    }
    .tools_img{
        @include absolute-center;
        // -webkit-backface-visibility: hidden;
        // transform: translateZ(0) scale(1.0, 1.0);
        transition: opacity .25s linear;
        opacity: 0;
        z-index: 2;
    }
    .tools_img_main{
        z-index: 1;
        opacity: 1;
    }
    .product__tools_link{
        display: block;
        max-width: 175px;
        color: $title-color-blue;
        &:hover,
        &:focus,
        &:active{
            color: $title-color-blue;
        }
        .product__tools_span{
            display: table-cell;
            height: 47px;
            vertical-align: middle;
            line-height: 22px;
        }
        &:hover{
            .product__tools_img{
                background: rgb(201,22,19); 
                background: -moz-linear-gradient(top,  rgba(201,22,19,1) 0%, rgba(231,37,27,1) 100%);
                background: -webkit-linear-gradient(top,  rgba(201,22,19,1) 0%,rgba(231,37,27,1) 100%);
                background: linear-gradient(to bottom,  rgba(201,22,19,1) 0%,rgba(231,37,27,1) 100%); 
                -webkit-box-shadow: 0px 2px 0px 0px rgba(130, 1, 1, 1);
                -moz-box-shadow:    0px 2px 0px 0px rgba(130, 1, 1, 1);
                box-shadow:         0px 2px 0px 0px rgba(130, 1, 1, 1);
                border: 1px solid #ca1713;
            }
            .tools_img{
                opacity: 1;
                cursor: pointer;
            }
            .tools_img_main{
                opacity: 0;
                cursor: pointer;
            }
        }
    }
    .product__tools_credit{
        .product__tools_link:hover{
            .product__tools_img{
                background: rgb(7,210,7);
                background: -moz-linear-gradient(top,  rgba(7,210,7,1) 0%, rgba(0,180,0,1) 100%); 
                background: -webkit-linear-gradient(top,  rgba(7,210,7,1) 0%,rgba(0,180,0,1) 100%); 
                background: linear-gradient(to bottom,  rgba(7,210,7,1) 0%,rgba(0,180,0,1) 100%); 
                -webkit-box-shadow: 0px 3px 0px 0px rgba(3, 141, 3, 1);
                -moz-box-shadow:    0px 3px 0px 0px rgba(3, 141, 3, 1);
                box-shadow:         0px 3px 0px 0px rgba(3, 141, 3, 1);
                border: none;
            }
            .tools_img{
                opacity: 1;
                transition: none;
            }
        }
    }
    .product__tools_list-login{
        .product__tools_link{
            max-width: 255px;
        }
    }
    .order_by_click{
        @include clearfix;
    }

    .buy__click{
        float: right;
    }
}  
.col-left {
    width: 60%;
    float: left;
    @include respond-to(mobile){
        width: 100%;

    } 
    @include respond-to(extraSmall-screens){
        width: 100%;
    }
    @include respond-to(small-screens){
        width: 100%;
    }
    @include respond-to(medium-screens){
        width: 50%;
    }
}
.col-right{
    width: 35%;
    float: right;
    @include respond-to(mobile){
        width: 100%;
        float: left;
    } 
    @include respond-to(extraSmall-screens){
        width: 100%;
        float: left;
    }
    @include respond-to(small-screens){
        width: 100%;
        float: left;
    }
    @include respond-to(medium-screens){
        width: 45%;
    }
}

.tab__content{
    .product-fullinfo__inner{
        border: 1px solid #e3e3e3;
        border-top: 2px solid $nav-bg;
        padding: 0 15px;
        @include border-radius(3px);
        -webkit-box-shadow: -2px 1px 6px 0px rgba(227, 227, 227, 1), 1px -2px 6px 0px rgba(227, 227, 227, 1);
        -moz-box-shadow:    -2px 1px 6px 0px rgba(227, 227, 227, 1), 1px -2px 6px 0px rgba(227, 227, 227, 1);
        box-shadow:         -2px 1px 6px 0px rgba(227, 227, 227, 1), 1px -2px 6px 0px rgba(227, 227, 227, 1);
    }
}
.product__reviews_form{
    .product__reviews_title{
        // padding: 0 15px;
        margin-bottom: 15px;
    }
    .product__reviews_title-text {
        font-size: 18px;
        color: $title-color-blue;
    }
} 
.product__reviews_title
.pane__tab_characteristics.active{
    .description_item{
        div{
            width: 50%;
            &:last-child{
                text-align: left;
            }
        }
    }
}
.tab__pane.active {
    .box-hide{
        max-height: 515px;
        overflow: hidden;
        position: relative;
        &:before{
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 30px;
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, #fff));
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
            background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#ffffff 100%);
        }
    }
}
.tabs__controls_item{
    &:hover{
        background: #e6eaed;
    }
    &.active{
        background: #d4d9dc; 
    }
}
.text-description-more{
    text-align: right;
}
.text-description-more-link{
    color: #6283af;
}
.arrow-link-inner{
    border-bottom: 1px dotted;
}
.pane__tab_characteristics.active{
    .product__description_content.box-hide{
        max-height: 390px; 
    }
    .product__reviews_content.box-hide{
        max-height: 345px;
    }

}
.product__reviews_content{
    .review{
        color: $title-color-blue;
        padding: 10px 0;
        border-bottom: 1px solid #cdd3d7;
        &:first-child{
            padding-top: 0;
        }
    }
}
.review__header{
    margin-bottom: 7px;
    .review__author,
    .review__date,
    .review__time{
        @include inlineblock();
    }
    .review__author{
        font-family: 'HeliosCondBold', arial;
    }
}
.review__text{
    p{
        font-family: "Arial", sans-serif;
        line-height: 19px;
    }
}
.review,
.review__main,
.review__answer{
    @include clearfix;
}
.review__left_collumm{
    float: left;
    width: 565px;
}
.review__right_collumm{
    float: right;
    width: 70px;
}
.review_title{
    font-family: 'HeliosCondBold', arial;
    text-align: center;
}

.review__answer{
    margin: 28px 35px 14px;
}
.product__reviews{
    .review{
        &:last-child{
            border-bottom: none;
        }
        .products__raiting{
            width: 70px;
            margin: 0 auto;
        }
    }
}
.product_characteristics .product__reviews_form,
.product__right_inner .product__tools_list-login{
    display: none;
}
.price__wrap{
    @include respond-to(mobile){
        width: 100%;
        margin-bottom: 30px;
    } 
    @media screen and (max-width: 570px) and (min-width: 481px){
        margin-bottom: 30px;
    }
}

//MEDIA
@media screen and (max-width:402px) and (min-width: 320px){
    .tabs__controls_link{
        font-size: 12px;
        padding: 10px 0;
    }
}
@media screen and (max-width:429px) and (min-width: 403px){
    .tabs__controls_link{
        font-size: 14px;
        padding: 10px 5px;
    }
}
@media screen and (max-width:479px) and (min-width: 430px){
    .tabs__controls_link{
        font-size: 15px;
        padding: 10px 5px;
    }
}
@media screen and (max-width:360px) and (min-width: 320px){
    .product__page{
        .products__buy-content{
            &:before{
                display: none;
            }
        }
    }
}
@include respond-to(mobile){
    .product__page{
        .main-title{
            font-size: em(28px);
            line-height: 30px;
        }
        .product__left_collumn{
            width: 100%;
            float: none;
        }
        .product__right__collumn{
            display: none;
        }
        .sort{
            display: none;
        }
        #product__buy{
            display: none;
        }
        .recent__products{
            display: none;
        }
        .tabs__controls_list{
            border-right: 1px solid #d4d9dc;
            border-left: 1px solid #d4d9dc;
        }
        .tabs__controls_item{
            border-top: 1px solid #d4d9dc;
            border-right: 1px solid #d4d9dc;
            border-left: none;
            width: 33.33333333333333%;
            text-align: center; 
            &:last-child{
                border-right: none;
            }
        }
        .products__slideshow-thumbs{
            display: none;
        }
        .product__right__collumn{
            display: none;
        }
        .price__buy_content,
        .produt__funcs-buttons{
            width: 100%;
            float: none;
        }
        .price__buy_content,
        .produt__label_price{
            margin-right: 0;
        }
        .produt__count{
            @include clearfix;
        }
        .products__buy-btn{
            display: block;
            float: right;
        }
        .product__right_inner{
            .produt__change-count{
                margin-right: 0;
                display: block;
                float: left;
                border: none;
            }
        }
        .amount-wrap{
            width: 160px;
            position: relative;
            float: left;
            border: 1px solid #092e4a;
            height: 40px;
        }
        .amount{
            position: absolute;
            float: none;
            left: 39px;
            top: 0;
            height: 38px;
            width: 80px;
            height: 100%;
            border-right: 1px solid $title-color-blue;
            border-left: 1px solid $title-color-blue;
        }
        .change__count_buttons{
            float: none;
            border-left: none;
        }
        .icon__plus{
            width: 39px;
            height: 38px;
            float: right;
            // border-left: 1px solid $title-color-blue;
        }
        .icon__minus{
            width: 39px;
            height: 38px;
            float: left;
            // border-right: 1px solid $title-color-blue;
        }
        .produt__change-count .count_buttons{
            padding: 0 15px;
            border-bottom: none;
        }
        .buy__click_form-input{
            width: 60%;
        }
        .buy__click_form-submit,
        .button-bg{
            width: 100%;
        }
        .buy__click_btn-wrap{
            width: 40%;
        }
    }
    .product__right_inner{
        .product__code{
            margin-bottom: 10px;
        }
        .buy__click{
            float:  left;
        }
    }
    .product__buy{
        display: none;
    }
}
@media screen and (max-width: 440px) and (min-width: 320px){
    .product__page{
        .amount-wrap{
            width: 140px;
        }
        .produt__change-count .amount{
            width: 58px;
        }
    }
}

@media screen and (max-width: 570px) and (min-width: 481px){
    .products__slideshow-thumbs{
        display: none;
    }
}
@media screen and (max-width: 620px) and (min-width: 481px){
    .tabs__controls_list{
        border-right: 1px solid #d4d9dc;
        border-left: 1px solid #d4d9dc;
    }
    .tabs__controls_item{
        border-top: 1px solid #d4d9dc;
        border-right: 1px solid #d4d9dc;
        border-left: none;
        width: 33.33333333333333%;
        text-align: center;
        &:last-child{
            border-right: none;
        }
    }
    .tabs__controls_link{
        padding: 10px 5px;
        font-size: 16px;
    }
}

@include respond-to(extraSmall-screens){
    .main-title{
        font-size: em(32px);
        line-height: 34px;
    }
    .product__left_collumn{
        width: 100%;
        float: none;
    }
    #product__buy{
        display: none;
    }
    .recent__products{
        display: none;
    }
    .product__right__collumn{
        display: none;
    }
    .products_item{
        width: 21%;
    }
    .related__product_span{
        font-size: 40px;
    }
    .related__price_item{
        .products__buy-btn{
            padding: 8px 25px;
        } 
        .products__price_new{
            font-size: 20px;
        }
    } 
    .detail__related_products .slick-slider{
        margin-bottom: 0;
    }
    .related__products_link{
        height: 160px;
    }
    .related__product_span{
        line-height: 160px;
    }
    .product__right_inner{
        .price__buy_content,
        .produt__funcs-buttons{
            float: none;
            width: 100%;
        }
        .produt__count{
            @include clearfix;
        }
        .produt__change-count {
            display: block;
            float: left;
            margin-right: 0;
        }
        .products__buy-btn{
            float: right;
        }
        .product__code{
            margin-bottom: 10px;
        }
        .buy__click{
            float:  left;
        }
    }
    .product__buy{
        display: none;
    }
}
@media screen and (max-width: 700px) and (min-width: 320px){
    .product__raiting_block{
        display: none;
    }
}
@media screen and (max-width: 768px) and (min-width: 618px){
    .product__page{
        .detail__tools_item{
            @include inlineblock();
            width: 50%;
            padding: 0;
            margin-bottom: 5px;
        }
    }
}
@media screen and (max-width: 700px) and (min-width: 510px){
    .product__right_inner{
        width:  90%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 434px) and (min-width: 320px){
    .product__right_inner .product__tools_link .product__tools_span{
        display: none;
    }
    .product__right_inner .product__tools_item{
        width: auto;
    }
    .product__code{
        margin-bottom: 10px;
        width: 190px;
    }
}
// @media screen and (max-width: 434px) and (min-width: 350px){
//     .product__right_inner .product__tools_list{
//         width: 80%;
//         margin: 0 auto;
//         border-bottom: none;
//     }
// }
// @media screen and (max-width: 349px) and (min-width: 320px){
//     .product__right_inner .product__tools_list{
//         width: 90%;
//         margin: 0 auto;
//         border-bottom: none;
//     }
// }
@include respond-to(small-screens){
    .product__page{
        .product__left_collumn{
            width: 100%;
            float: none;
        }
        .products_item{
            width: 21%;
        }
        .related__price_item{
            .products__buy-btn{
                padding: 8px 25px;
            } 
            .products__price_new{
                font-size: 20px;
            }
        } 

        .product__buy{
            .produt__price{
                margin-right: 0;
            }
            .produt__offer{
                padding: 0 5px;
            }
            .products__buy-btn{
                padding: 8px 20px;
                margin-right: 10px;
            }
            .related__price_item .products__buy-btn{
                padding: 8px 20px;
            }
            .produt__change-count .amount{
                width: 42px;
                font-size: 28px;
            }
        }
    }
    .product__right__collumn{
        display: none;
    }
    .product__right_inner{
        .price__buy_content,
        .produt__funcs-buttons{
            float: none;
            width: 100%;
        }
        .produt__count{
            @include clearfix;
        }
        .produt__change-count {
            display: block;
            float: left;
            margin-right: 0;
        }
        .products__buy-btn{
            float: right;
        }
        .product__code{
            margin-bottom: 10px;
        }
        .buy__click{
            float:  left;
        }
    }
    .product__page{
        .product__raiting_block{
            margin-bottom: 0;
        }
        .detail__tools_item{
            @include inlineblock();
            width: 50%;
            padding: 0;
            margin-bottom: 5px;
        }
    }
    .product__buy{
        display: none;
    }
 }
@include respond-to(medium-screens){
    .product__left_collumn{
        width: 65%;
    }
    .related__price_item .products__buy-btn{
        padding: 8px 20px;
    }
    .product__right_inner{
        .price__buy_content,
        .produt__funcs-buttons{
            float: none;
            width: 100%;
        }
        .produt__count{
            @include clearfix;
        }
        .produt__change-count {
            display: block;
            float: left;
            margin-right: 0;
        }
        .products__buy-btn{
            float: right;
        }
        .product__code{
            margin-bottom: 10px;
        }
        .buy__click{
            float:  left;
        }
    }
    .product__page{
        .product__raiting_block{
            margin-bottom: 0;
        }
        .detail__tools_item{
            @include inlineblock();
            width: 50%;
            padding: 0;
            margin-bottom: 5px;
        }
        .product__buy_header{
            width: 35%;
        }
        .products__buy-btn{
            margin-left: 5px;
        }
    }
    .product__buy .produt__funcs-buttons{
        width: 30%;
    }
    .product__right_inner{
       .product__tools_item{
            font-size: 19px;
        }
        .product__tools_img{
            margin-right: 7px;
        } 
    } 
}
