.page__sale{
	margin-bottom: 30px;
	&:last-child{
		margin-bottom: 0;
	}
	@include clearfix;
	.page__teaser_image{
		float: left;
		max-width: 217px;
		overflow: hidden;
		margin-bottom: 0;
		a{
			display: block;
		}
	}
	.page__teaser_content{
		margin-left: 237px;
	}

	.page__teaser_title{
		font-size: em(21px);
	}
	.page__teaser_span{
		text-transform: uppercase;
	}
	.header__teaser_link{
		font-size: em(19px);
		color: $link-color;
		&:after{
			content: "";
			@include inlineblock(middle);
			@include border-radius(50%);
			margin:  0 8px;
			background: #6f6f6f;
			width: 5px;
			height: 5px;
		}

	}
	.page__teaser_link{
		font-size: em(16px);
	}
}
.content__sale{
	margin-bottom: 0;
	.page__teaser_wrapper{
		padding: 0 15px;
	}
	.page__pagination{
		border-bottom: none;
	}
}
@include respond-to(mobile){
	.page__sale{
		.page__teaser_image{
			max-width: 100%;
			float: none;
			margin-bottom: 20px;
			a{
				max-width: 100%;
				margin: 0 auto;
			}
		}
		.page__teaser_content{
			margin-left: 0;
		}
	}
} 
@include respond-to(extraSmall-screens){
	.page__sale{
		.page__teaser_image{
			max-width: 100%;
			float: none;
			margin-bottom: 20px;
			img{
				max-width: 217px;
				margin: 0 auto;
			}
		}
		.page__teaser_content{
			margin-left: 0;
		}
	}
}
@include respond-to(small-screens){
	.page__sale{
		.page__teaser_image{
			max-width: 100%;
			float: none;
			a{
				max-width: 217px;
				margin: 0 auto;
			}
		}
		.page__teaser_content{
			margin-left: 0;
		}
	}
}