.use, .orders{
    .section__wrapper{
        padding: 30px 0;
    }
    .section__title{
        margin-bottom: 45px;
        
        @include respond-to(mobile) {
            margin-bottom: 30px;
        }
        @include respond-to(extraSmall-screens) {
            margin-bottom: 30px;
        }
        @include respond-to(small-screens) {
            margin-bottom: 30px;
        }
        @include respond-to(medium-screens) {
            margin-bottom: 30px;
        }
    }
    .section__title_text{
        // @include respond-to(mobile){
        //     font-size: em(28px);
        //     text-transform: uppercase;
        // }
        // @include respond-to(extraSmall-screens){
        //     font-size: em(28px);
        //     text-transform: uppercase;
        // }
        // @include respond-to(small-screens){
        //     font-size: em(35px);
        // }
    }
    // .section__title_span{
    //     text-transform: lowercase;
    //       @include respond-to(mobile){
    //         text-transform: uppercase;
    //     }
    //     @include respond-to(extraSmall-screens){
    //         text-transform: uppercase;
    //     }
    // }
    .slick-slider {
        padding: 0 30px;
        margin-bottom: 37px;
    }
    .paginations{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slick__use_item{
        margin: 0 15px;
    }
    .section_content{
        position: relative;
    }
    .slick__image{
        margin: 0 auto;
    }
    // .slick__image_link{
    //     width: 185px;
    //     height: 60px;
    //     position: relative;
    //     display: block;
    //     img{
    //         max-width: 100%;
    //         height: auto;
    //         @include absolute-center;
    //     }
    // }
}

.use, .orders{
    .pagination__button{
        width: 31px;
        height: 31px;
        @include border-radius(50%);
        background: #f1f1f1;
        span{
            color: #a1a1a1;
            line-height: 30px;
        }
        &:hover, &:active{
            background: darken(#f1f1f1, 5%);
            span{
                color: darken(#a1a1a1, 20%);
            }
        }
    }
}
.use__button_prev{
    left: 0;
}
.use__button_next{
    right: 0;
}