.use, .orders{
    .section__wrapper{
        padding: 30px 0;
    }
    .section__title{
        margin-bottom: 45px;
        
        @include respond-to(mobile) {
            margin-bottom: 30px;
        }
        @include respond-to(extraSmall-screens) {
            margin-bottom: 30px;
        }
        @include respond-to(small-screens) {
            margin-bottom: 30px;
        }
        @include respond-to(medium-screens) {
            margin-bottom: 30px;
        }
    }
    .slick-slider {
        padding: 0 30px;
        margin-bottom: 37px;
    }
    .paginations{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slick__use_item{
        margin: 0 15px;
        text-align: center;
    }
    .section_content{
        position: relative;
    }
    .slick__image{
        margin: 0 auto;
    }
    .slick__image_link{
        display: block;
    }
}
.orders{
    .pagination__button{
        top: -14px;
    }
}

.use__button_prev{
    left: 0;
    @include get-sprite($misc-sprite, advantages_arrow_prew);
}
.use__button_next{
    right: 0;
    @include get-sprite($misc-sprite, advantages_arrow_next);
}